<div class="card">
    <p-toast></p-toast>
    <h5><strong>{{libraryWallpaperName}} </strong> Languages</h5>
    <p-dataView #dv [value]="libraryWallpaperLanguages" [rows]="12" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-wrap justify-content-between">

                <button pButton pRipple icon="pi pi-arrow-left" label="Back" (click)="backToLanguages()"></button>
                <button *ngIf="hasPermission(actions.add)" pButton pRipple label="Add" icon="pi pi-plus"
                    class="p-button mr-2" (click)="CreateLibraryWallpaperLanguage()"></button>
            </div>
        </ng-template>


        <ng-template let-walls pTemplate="gridItem">
            <div class="grid grid-nogutter">
                <div class="col-12 md:col-4" *ngFor="let wall of walls">
                    <div class="m-3" #img>
                        <div class=" mb-3">
                            <div class="flex flex-wrap justify-content-center">
                                <p-image [src]="wall.wallpaperImageUrl" alt="Image" width="300" height="200"
                                    class=" shadow-4 my-3 mx-0 p-1" [preview]="true" />
                                <button *ngIf="adminMenuItems.length > 0 && !wall.canEdit" pButton pRipple type="button"
                                    icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain  "
                                    (click)="adminMenu.toggle($event); assigneCurrentSelect(wall)"></button>


                                <button *ngIf="iAwaremenuItems.length > 0 && wall.canEdit" pButton pRipple type="button"
                                    icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain  "
                                    (click)="iAwareMenu.toggle($event); assigneCurrentSelect(wall)"></button>



                                <p-menu #iAwareMenu [model]="iAwaremenuItems" [appendTo]="dv" [popup]="true"></p-menu>

                                <p-menu #adminMenu [model]="adminMenuItems" [appendTo]="dv" [popup]="true"></p-menu>


                            </div>
                            <div class="text-center  mr-5">
                                <div style="cursor: pointer;" class="text-xl font-bold">{{wall.wallpaperTitle}}
                                </div>
                            </div>
                            <div class="text-center my-2  mr-5">
                                <div style="cursor: pointer;" class="text-l ">{{wall.languageName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-dataView>
</div>

<p-dialog [(visible)]="addWallpaperDialog" [style]="{width: '100%', height: '100vh'}" header="Add Wallpaper"
    [modal]="true" [closeOnEscape]="false" class="p-fluid" [closable]="false">




    <form [formGroup]="addWallpaperForm" (ngSubmit)="saveAddWallpaper()">
        <div class="flex flex-wrap justify-content-center">
            <div class="field mb-4 col-6">
                <label for="wallpaperTitle" class="font-medium text-900">Wallpaper Title</label>
                <input type="text" pInputText id="wallpaperTitle" formControlName="wallpaperTitle" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty': submitted && !addWallpaperForm.controls['wallpaperTitle'].valid}" />
                <small *ngIf="submitted && !addWallpaperForm.controls['wallpaperTitle'].valid" class="text-red-500">Name
                    is required.</small>
            </div>
            <div class="field mb-4 col-6">
                <label for="languageId" class="font-medium text-900">Language</label>
                <span class="p-float-label">
                    <p-dropdown formControlName="languageId" [options]="activeLanguage" optionLabel="name"
                        optionValue="id" placeholder="Select a Language">
                    </p-dropdown>
                </span>
            </div>
        </div>
        <div class="grid px-3">
            <div class="card col-6 md:col-3"
                style="display: flex; flex-direction: column; height: 100vh; overflow-y: hidden">
                <div *ngIf="selectedBackground" class="grid-item background">
                    <!-- <h3>Selected Background</h3> -->
                    <img [src]="selectedBackground.backgroundImageUrl" class="shadow-2 my-3 mx-0"
                        style="width: 150px; height: 150px; cursor: pointer;" />
                </div>
                <div class=" flex flex-wrap justify-content-center">
                    <span class=" mt-2 md:mt-0 p-input-icon-left ">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="CharactersFilter($event)" placeholder="Search..." />
                    </span>
                </div>


                <!--  /////////////////////////////////////////// -->

                <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 50px)'}">


                    <p-dataView #dv [value]="backgrounds" [rows]="12" layout="grid">
                        <ng-template let-backgrounds pTemplate="gridItem">
                            <div class=" ">
                                <div *ngFor="let background of backgrounds">
                                    <div class="my-3 " (click)="selectBackgroundAdd(background)">
                                        <div class=" flex flex-wrap justify-content-center">
                                            <div class="mb-3 flex flex-column ">
                                                <div class=" flex align-items-center justify-content-center">
                                                    <p-radioButton name="libraryBackgroundId" [value]="background.id"
                                                        formControlName="libraryBackgroundId"
                                                        (click)="onRadioButtonClick($event, background)">
                                                    </p-radioButton>
                                                </div>
                                                <div class=" flex align-items-center justify-content-center">
                                                    <img [src]="background.backgroundImageUrl"
                                                        class="shadow-2 my-3 mx-0"
                                                        style="width: 150px; height: 150px; cursor: pointer;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>


                </p-scrollPanel>
            </div>



            <div class="card col-6 md:col-3"
                style="display: flex; flex-direction: column; height: 100vh; overflow-y: hidden">
                <div *ngIf="selectedCharacter" class="grid-item character">
                    <!-- <h3>Selected Character</h3> -->
                    <img [src]="selectedCharacter.characterImageUrl" class="shadow-2 my-3 mx-0"
                        style="width: 150px; height: 150px; cursor: pointer;" />
                </div>
                <div class=" flex flex-wrap justify-content-center">
                    <span class="    mt-2 md:mt-0 p-input-icon-left ">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="CharactersFilter($event)" placeholder="Search..." />
                    </span>
                </div>

                <!--  /////////////////////////////////////////// -->
                <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 50px)'}">


                    <p-dataView #dc [value]="characters" [rows]="12" layout="grid" filterBy="characterName">
                        <ng-template let-characters pTemplate="gridItem">
                            <div class=" ">
                                <div *ngFor="let char of characters">
                                    <div class="m-3" (click)="selectCharacterAdd(char)">
                                        <div class=" flex flex-wrap justify-content-center">
                                            <div class="mb-3 flex flex-column ">
                                                <div class=" flex align-items-center justify-content-center">
                                                    <p-radioButton name="libraryLanguageCharacterId" [value]="char.id"
                                                        formControlName="libraryLanguageCharacterId"
                                                        (click)="onRadioButtonClick($event, char)">
                                                    </p-radioButton>
                                                </div>
                                                <div class=" flex align-items-center justify-content-center">
                                                    <img [src]="char.characterImageUrl" class="shadow-2 my-3 mx-0"
                                                        style="width: 150px; height: 150px; cursor: pointer;" />
                                                </div>
                                                <div class=" flex align-items-center justify-content-center">
                                                    <div class="text-center ext-md">{{char.languageName}}</div>
                                                </div>
                                                <div class="lex align-items-center justify-content-center  my-3">
                                                    <div class=" text-center  text-2xl font-bold">{{char.characterName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>

                </p-scrollPanel>


            </div>




            <div class="card col-12 md:col-6"
                style="display: flex; flex-direction: column; height: 100vh; overflow-y: hidden">
                <div *ngIf="selectedQuote" class="grid-item quote">
                    <!-- <h3>Selected Quote</h3> -->
                    <div class="card shadow-2 my-3 mx-0"
                        style="min-width: 100% ;min-height: 150px;cursor: pointer;align-items: center;vertical-align: middle;display: flex;justify-content: center;">
                        <div class="text-center mb-2 ">
                            <strong [innerHTML]="selectedQuote.quoteText" class="text-l"></strong>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap justify-content-center">
                    <span class="mt-2 md:mt-0 p-input-icon-left ">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="QuotesFilter($event)" placeholder="Search..." />
                    </span>
                </div>


                <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 50px)'}">
                    <!--  /////////////////////////////////////////// -->

                    <p-dataView #dq [value]="quotes" [rows]="12" layout="grid" filterBy="quoteText">
                        <ng-template let-quotes pTemplate="gridItem">
                            <div class=" ">
                                <div *ngFor="let quote of quotes">
                                    <div class="m-3" (click)="selectQuoteAdd(quote)">
                                        <div class=" flex flex-wrap justify-content-center">
                                            <div class="mb-3 flex flex-column" style="min-width: 100%;">
                                                <div class=" flex align-items-center justify-content-center"
                                                    style="min-width: 100%;">
                                                    <p-radioButton name="libraryLanguageQuoteId" [value]="quote.id"
                                                        formControlName="libraryLanguageQuoteId"
                                                        (click)="onRadioButtonClick($event, quote)">
                                                    </p-radioButton>
                                                </div>
                                                <div class="mb-3 my-3 flex align-items-center justify-content-center"
                                                    style=" cursor: pointer; min-width: 100%;">
                                                    <div class="shadow-2 my-3 mx-0 card"
                                                        style="min-width: 100%;   cursor: pointer;">
                                                        <div class="text-center mb-2">
                                                            <strong [innerHTML]="quote.quoteText"
                                                                class="text-l"></strong>
                                                        </div>
                                                        <div class="text-center">
                                                            <div class="text-md">{{quote.languageName}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>


                </p-scrollPanel>
            </div>
        </div>
    </form>


    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="declineAddWallpaper()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveAddWallpaper()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="editWallpaperDialog" [style]="{width: '100%', height: '100vh'}" header="Add Wallpaper"
    [modal]="true" [closeOnEscape]="false" class="p-fluid" [closable]="false">


    <form [formGroup]="editWallpaperForm" (ngSubmit)="saveEditLibraryWallpaperLanguage()">
        <div class="flex flex-wrap justify-content-center">
            <div class="field mb-4 col-6">
                <label for="wallpaperTitle" class="font-medium text-900">Wallpaper Title</label>
                <input type="text" pInputText id="wallpaperTitle" formControlName="wallpaperTitle" required autofocus
                    [ngClass]="{'ng-invalid ng-dirty': submitted && !editWallpaperForm.controls['wallpaperTitle'].valid}" />
                <small *ngIf="submitted && !editWallpaperForm.controls['wallpaperTitle'].valid"
                    class="text-red-500">Name
                    is required.</small>
            </div>
            <div class="field mb-4 col-6">
                <label for="languageId" class="font-medium text-900">Language</label>
                <span class="p-float-label">
                    <p-dropdown formControlName="languageId" [options]="activeLanguage" optionLabel="name"
                        optionValue="id" placeholder="Select a Language">
                    </p-dropdown>
                </span>
            </div>
        </div>
        <div class="grid px-3">
            <div class=" card col-6 md:col-3"
                style="display: flex; flex-direction: column; height: 100vh; overflow-y: hidden">
                <div *ngIf="selectedBackground" class="grid-item background">
                    <!-- <h3>Selected Background</h3> -->
                    <img [src]="selectedBackground.backgroundImageUrl" class="shadow-2 my-3 mx-0"
                        style="width: 150px; height: 150px; cursor: pointer;" />
                </div>
                <div class=" flex flex-wrap justify-content-center">
                    <span class=" mt-2 md:mt-0 p-input-icon-left ">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="CharactersFilter($event)" placeholder="Search..." />
                    </span>
                </div>


                <!--  /////////////////////////////////////////// -->

                <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 50px)'}">

                    <p-dataView #dv [value]="backgrounds" [rows]="12" layout="grid">
                        <ng-template let-backgrounds pTemplate="gridItem">
                            <div class=" ">
                                <div *ngFor="let background of backgrounds">
                                    <div class="my-3 " (click)="selectBackgroundEdit(background)">
                                        <div class=" flex flex-wrap justify-content-center">
                                            <div class="mb-3 flex flex-column ">
                                                <div class=" flex align-items-center justify-content-center">
                                                    <p-radioButton name="libraryBackgroundId" [value]="background.id"
                                                        formControlName="libraryBackgroundId"
                                                        (click)="onRadioButtonClick($event, background)">
                                                    </p-radioButton>
                                                </div>
                                                <div class=" flex align-items-center justify-content-center">
                                                    <img [src]="background.backgroundImageUrl"
                                                        class="shadow-2 my-3 mx-0"
                                                        style="width: 150px; height: 150px; cursor: pointer;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>


                </p-scrollPanel>
            </div>



            <div class=" card col-6 md:col-3"
                style="display: flex; flex-direction: column; height: 100vh; overflow-y: hidden">
                <div *ngIf="selectedCharacter" class="grid-item character">
                    <!-- <h3>Selected Character</h3> -->
                    <img [src]="selectedCharacter.characterImageUrl" class="shadow-2 my-3 mx-0"
                        style="width: 150px; height: 150px; cursor: pointer;" />
                </div>
                <div class=" flex flex-wrap justify-content-center">
                    <span class="    mt-2 md:mt-0 p-input-icon-left ">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="CharactersFilter($event)" placeholder="Search..." />
                    </span>
                </div>

                <!--  /////////////////////////////////////////// -->
                <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 50px)'}">


                    <p-dataView #dc [value]="characters" [rows]="12" layout="grid" filterBy="characterName">
                        <ng-template let-characters pTemplate="gridItem">
                            <div class=" ">
                                <div *ngFor="let char of characters">
                                    <div class="m-3" (click)="selectCharacterEdit(char)">
                                        <div class=" flex flex-wrap justify-content-center">
                                            <div class="mb-3 flex flex-column ">
                                                <div class=" flex align-items-center justify-content-center">
                                                    <p-radioButton name="libraryLanguageCharacterId" [value]="char.id"
                                                        formControlName="libraryLanguageCharacterId"
                                                        (click)="onRadioButtonClick($event, char)">
                                                    </p-radioButton>
                                                </div>
                                                <div class=" flex align-items-center justify-content-center">
                                                    <img [src]="char.characterImageUrl" class="shadow-2 my-3 mx-0"
                                                        style="width: 150px; height: 150px; cursor: pointer;" />
                                                </div>
                                                <div class=" flex align-items-center justify-content-center">
                                                    <div class="text-center ext-md">{{char.languageName}}</div>
                                                </div>
                                                <div class="lex align-items-center justify-content-center  my-3">
                                                    <div class=" text-center  text-2xl font-bold">{{char.characterName}}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>

                </p-scrollPanel>
            </div>


            <div class="card col-12 md:col-6"
                style="display: flex; flex-direction: column; height: 100vh; overflow-y: hidden">
                <div *ngIf="selectedQuote" class="grid-item quote">
                    <!-- <h3>Selected Quote</h3> -->
                    <div class="card shadow-2 my-3 mx-0"
                        style="min-width: 100% ;min-height: 150px;cursor: pointer;align-items: center;vertical-align: middle;display: flex;justify-content: center;">
                        <div class="text-center mb-2 ">
                            <strong [innerHTML]="selectedQuote.quoteText" class="text-l"></strong>
                        </div>
                    </div>
                </div>
                <div class="flex flex-wrap justify-content-center">
                    <span class="mt-2 md:mt-0 p-input-icon-left ">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="QuotesFilter($event)" placeholder="Search..." />
                    </span>
                </div>


                <p-scrollPanel [style]="{width: '100%', height: 'calc(100vh - 50px)'}">
                    <!--  /////////////////////////////////////////// -->

                    <p-dataView #dq [value]="quotes" [rows]="12" layout="grid" filterBy="quoteText">
                        <ng-template let-quotes pTemplate="gridItem">
                            <div class=" ">
                                <div *ngFor="let quote of quotes">
                                    <div class="m-3" (click)="selectQuoteEdit(quote)">
                                        <div class=" flex flex-wrap justify-content-center">
                                            <div class="mb-3 flex flex-column" style="min-width: 100%;">
                                                <div class=" flex align-items-center justify-content-center"
                                                    style="min-width: 100%;">
                                                    <p-radioButton name="libraryLanguageQuoteId" [value]="quote.id"
                                                        formControlName="libraryLanguageQuoteId"
                                                        (click)="onRadioButtonClick($event, quote)">
                                                    </p-radioButton>
                                                </div>
                                                <div class="mb-3 my-3 flex align-items-center justify-content-center"
                                                    style=" cursor: pointer; min-width: 100%;">
                                                    <div class="shadow-2 my-3 mx-0 card"
                                                        style="min-width: 100%;   cursor: pointer;">
                                                        <div class="text-center mb-2">
                                                            <strong [innerHTML]="quote.quoteText"
                                                                class="text-l"></strong>
                                                        </div>
                                                        <div class="text-center">
                                                            <div class="text-md">{{quote.languageName}}</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </ng-template>
                    </p-dataView>


                </p-scrollPanel>
            </div>
        </div>
    </form>


    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="declineEditLibraryWallpaperLanguage()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveEditLibraryWallpaperLanguage()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deletionLibraryWallpaperLanguageDialog" header="Delete Wallpaper Language" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="libraryWallpaperLanguage">Are you sure you want to delete
            <b>{{libraryWallpaperLanguage.wallpaperTitle}} / {{libraryWallpaperLanguage.languageName}}</b>
            ?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="declineDeletion()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
            (click)="confirmDeletion()"></button>
    </ng-template>
</p-dialog>


<!-- 

<div class="card">
    <p-toast></p-toast>

    <p-table #dt [value]="libraryWallpaperLanguages" responsiveLayout="scroll" [rows]="10" [paginator]="true"
        [rowsPerPageOptions]="[10,20,30]" styleClass="p-datatable-striped"
        [globalFilterFields]="['name','description'  ]">



        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Wallapapers Language Management</h5>
                <div class="my-1">
                    <button pButton pRipple label="Add" icon="pi pi-plus" class="p-button-success mr-2"
                        (click)="CreateLibraryWallpaperLanguage()"></button>


                    <span class=" mt-2 md:mt-0 p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..."
                            class="w-full sm:w-auto" />
                    </span>


                </div>
            </div>
        </ng-template>


        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center;">Language Name</th>


                <th style="text-align: center;" pSortableColumn="languageName">WallpaperTitle
                    <p-columnFilter type="text" field="languageName" display="menu"></p-columnFilter>
                </th>

                <th style="text-align: center;">WallpaperBackgroundImage</th>
                <th style="text-align: center;">WallpaperCharacterImage</th>
                <th style="text-align: center;">WallpaperQuote</th>
                <th style="text-align: center;">Status</th>
                <th colspan="2" style="text-align: center;">Actions</th>
            </tr>
        </ng-template>


        <ng-template pTemplate="body" let-wall>
            <tr>


                <td style="text-align: center;"> {{
                    wall.languageName }}</td>
                <td style="text-align: center;"> {{
                    wall.wallpaperTitle }}</td>


                <td style="text-align: center;"> <p-image width="100" height="100" [src]="wall.wallpaperCharacterImage"
                        alt="Image" width="100" [preview]="true" /> </td>

                <td style="text-align: center;"> <p-image width="100" height="100" [src]="wall.wallpaperBackgroundImage"
                        alt="Image" width="100" [preview]="true" /> </td>


                <td style="text-align: center;">
                    <a style="cursor: pointer;">
                        <i class="pi pi-file-edit" (click)="openContent(wall)"></i>
                    </a>
                </td>


                <td style="text-align: center;">
                    <p-inputSwitch [ngModel]="wall.isActive" (onChange)="switchActivation(wall)" />
                </td>
                <td style="text-align: center;">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"></button>
                </td>
                <td style="text-align: center;">
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                        (click)="deleteLibraryWallpaperLanguage(wall)">

                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div> -->