.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.avatar {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: fill;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.upload-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.upload-btn:hover {
    background-color: #0056b3;
}

@media screen and (max-width: 768px) {
    .avatar {
        width: 120px;
        height: 120px;
    }

    .upload-btn {
        width: 100%;
        text-align: center;
    }
}

.image-guidelines {
    color: #666;
    /* Neutral text color */
    font-size: 12px;
    /* Small and unobtrusive */
    text-align: center;
    display: block;
    margin-top: 5px;
}

.upload-btn {
    width: 150px;
    /* Matches the container width */
    text-align: center;
    margin: 0 auto;
    /* Centers the button */
}

@media screen and (max-width: 768px) {
    .logo-container {
        width: 120px;
        /* Adjust size for smaller screens */
        height: 120px;
    }

    .upload-btn {
        width: 100%;
        /* Makes the button full-width for smaller screens */
    }
}

::ng-deep .iti input.iti__tel-input {
    border: none !important;
    width: 100%;
}

::ng-deep .iti input.iti__tel-input:focus-visible {
    border: none !important;
    outline: none !important;
}

::ng-deep .iti input.iti__tel-input {
    width: 100%;
    padding: 7px 10.5px;
    border-radius: 3px;
}

::ng-deep .iti {
    width: 100%;
}

::ng-deep .iti input.iti__tel-input:focus {
    border: none !important;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);
    border-color: #883cae;
}

::ng-deep #country-search-box:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);
    border-color: #883cae;
}

//subscription

.subscription-card {
    background: #fff;
    border-radius: 20px solid;
    box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 500px;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

.card-title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.card-content {
    display: flex;
    flex-direction: column;
}

.card-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.card-item:last-child {
    border-bottom: none;
}

.card-item-label {
    font-weight: bold;
    color: #555;
}

.card-item-value {
    color: #333;
    text-align: right;
    font-size: 1rem;
}

@media (max-width: 600px) {
    .subscription-card {
        padding: 15px;
    }

    .card-title {
        font-size: 1.5rem;
    }

    .card-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .card-item-value {
        text-align: left;
    }
}

//subscription cards
/* Define the shake animation */
@keyframes shakeVertical {

    0%,
    100% {
        transform: translateY(0);
    }

    20%,
    60% {
        transform: translateY(-5px);
    }

    40%,
    80% {
        transform: translateY(5px);
    }
}

/* Apply shake effect to the card on hover */

.surface-card {
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.surface-card:hover {
    transform: scale(1.09);
    /* Slightly scale the card */
}

.custom-image {
    width: 50px;
    /* Set a specific width */
    height: auto;
    /* Maintain aspect ratio */
    border: 2px solid #000000;
    /* Example border */
    border-radius: 50%;
    /* Example rounded corners */
    transition: transform 0.2s ease-in-out;
    /* Smooth transition for hover effects */
}

//invoice Card

.invoiceImage {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* Space between label, input, and error message */
}

.field label {
    font-weight: 500;
    /* Optional: Adjust font weight for label */
}

.coming-soon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    overflow: hidden;
    /* Ensure content stays within bounds */
}

.coming-soon-image {
    width: 100%;
    object-fit: cover;
    /* Ensure the image covers the container */
}

.coming-soonTransfer {
    background-color: #f8f9fa;
    /* Light background color */
    color: #343a40;
    /* Dark text color */
    border: 2px solid #007bff;
    /* Border color matching a primary theme */
    border-radius: 8px;
    /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Subtle shadow for depth */
    margin: 1rem;
    /* Margin around the element */
    padding: 2rem;
    /* Padding inside the element */
}

.invoice-card {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 1400px;
    margin: auto;

    .invoice-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        .invoice-label {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 4px;
        }

        .invoice-value {
            font-size: 16px;
        }
    }
}

// pricing

.platinum-background {
    background: linear-gradient(135deg,
            #e0eafc 0%,
            #cfdef3 100%);
    /* Light blue gradient */
    color: #2a3e57;
}

.gold-background {
    background: linear-gradient(135deg,
            #ffdd00 0%,
            #fbb034 100%);
    /* Gold gradient */
    color: #2a2a2a;
}

.silver-background {
    background: linear-gradient(135deg,
            #c0c0c0 0%,
            #e0e0e0 100%);
    /* Lighter and more neutral silver gradient */
    color: #333;
    /* Slightly darker text color for better contrast */
}

.diamond-background {
    background: linear-gradient(135deg,
            #b9f2ff 0%,
            #e5e4e2 100%);
    /* Diamond gradient */
    color: #2a2a2a;
}

.free-plan-background {
    background: linear-gradient(135deg,
            #f5f5f5 0%,
            #e0e0e0 100%);
    /* Subtle gray gradient for Free Plan */
    color: #555;
    /* Darker text color for better readability */
}

.surface-card-price:hover {
    transform: scale(1.02);
    /* Slightly scale the card */
}

.points-card {
    border-radius: 8px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.points-card .card-content {
    padding: 20px;
}

.points-card h2 {
    margin: 10px 0;
    font-size: 2rem;
    font-weight: bold;
}

.points-card p {
    margin: 0;
    font-size: 1, 5rem;
    color: var(--primary-color);
}

.positive-points {
    border-top: 4px solid #28a745;
}

.negative-points {
    border-top: 4px solid #dc3545;
}

.total-points {
    border-top: 4px solid #ffc107;
}

// badges
.badge-container {
    padding: 20px;
    border-radius: 10px;
}

.badge-list {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr); /* Default: 1 column for very small screens */
}

@media (min-width: 600px) { /* Small screens */
    .badge-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) { /* Medium screens */
    .badge-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1200px) { /* Large screens */
    .badge-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

.badge-card {
    // background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    overflow: hidden;
    opacity: 1;
    pointer-events: auto;
    transition: transform 0.3s ease;
}

.badge-card:hover {
    // transform: translateY(-10px);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.badge-card.disabled:hover{
    transform: none;
}

.badge-image {
    width: 100%;
    height: auto;
    object-fit: fill;
}

.badge-info {
    padding: 15px;
    text-align: center;
}

.badge-name {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-bottom: 8px;
}

.badge-description {
    font-size: 0.9rem;
    margin-bottom: 12px;
}

.badge-earned-count {
    font-size: 1rem;
    color: #4caf50;
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-xl {
    font-size: 1.5rem;
}

.text-indigo-300 {
    color: #a3b9ff;
}

.font-bold {
    font-weight: bold;
}

.lock-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.5);
}

.lock-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.lock-icon {
    z-index: 3;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.lock-overlay:hover .lock-icon {
    opacity: 0;
    pointer-events: none;
}

.upgrade-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s ease, background-color 0.3s ease;
}

.lock-overlay:hover .upgrade-overlay {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.upgrade-content {
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.upgrade-title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.upgrade-description {
    margin-bottom: 20px;
}

.lock-overlay:hover .lesson-image {
    filter: blur(2px);
}

:host ::ng-deep .p-dataview-emptymessage{
    display: none !important;;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}  