.bbbutton {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #883cae;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all .6s ease;
}

.bbbutton:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.bbbutton:focus,
button:active {
    opacity: .85;
    box-shadow: none;
}

.bbbutton svg {
    width: 1.25rem;
    height: 1.25rem;
}

.pi-eye:hover{
    cursor: pointer;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.avatar:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
    .avatar {
        width: 120px;
        height: 120px;
    }

    .upload-btn {
        width: 100%;
        text-align: center;
    }
}