::ng-deep .p-card-body {
  padding-top: 0px !important;
}

::ng-deep .p-card-title {
  position: relative;
  padding-bottom: 10px;
}

::ng-deep .p-card-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}

.campaign-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f7f9fc;
  border: 1px solid #e0e6ed;
  border-radius: 6px;
}

.campaign-info {
  flex: 1;
}

.campaign-details {
  font-size: 14px;
  color: #5a5a5a;
  margin: 5px 0;
}

.campaign-info h2 {
  font-size: 20px;
  margin: 0 0 10px;
  color: #333;
}

.campaign-actions {
  margin-right: 10px;
}

.p-table {
  margin-top: 20px;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px 12px;
}

th {
  background-color: #f1f1f1;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.report-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.header-item {
  flex: 1 1 100px;
  max-width: 120px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #f9f9f9;
}

.item-selected {
  flex: 1 1 100px;
  max-width: 120px;
  text-align: center;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  transition: transform 0.3s, box-shadow 0.3s;
  background-color: #9b9999;
  position: relative;
}

.item-selected::after {
  content: '';
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #9b9999 transparent transparent transparent;
}


.header-item:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);
  border-color: var(--primary-color);
  cursor: pointer;
}

.header-number {
  font-size: 24px;
  font-weight: bold;
  color: #ec3903;
}

.header-text {
  font-size: 14px;
  margin-top: 5px;
  color: #333;
}

.header-percentage {
  font-size: 18px;
  margin-top: 5px;
  color: #4caf50;
}

@media screen and (max-width: 768px) {
  .header-item {
    max-width: 90px;
  }

  .header-number {
    font-size: 20px;
  }

  .header-text {
    font-size: 12px;
  }

  .header-percentage {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .header-item {
    max-width: 75px;
  }

  .header-number {
    font-size: 18px;
  }

  .header-text {
    font-size: 10px;
  }

  .header-percentage {
    font-size: 14px;
  }
}

.campaign-header {
  background-color: #f7f9fc;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.campaign-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.campaign-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #333;
}

.campaign-details {
  margin: 10px 0;
}

.detail-label {
  font-weight: bold;
  color: #555;
}

.detail-value {
  color: #333;
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .campaign-info {
    text-align: left;
  }

  .campaign-title {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .campaign-title {
    font-size: 18px;
  }

  .campaign-details {
    font-size: 14px;
  }
}

.status-completed {
  color: white !important;
  background-color: #28a745;
  padding: 4px 6px;
  border-radius: 12px;
  font-size: large !important;
  font-weight: 700;
}

.status-in-progress {
  color: white !important;
  background-color: #ffc107;
  padding: 4px 6px;
  border-radius: 12px;
  font-size: large !important;
  font-weight: 700;
}

.status-not-started {  
  color: white !important;
  background-color: #6c757d !important;
  padding: 4px 6px;
  border-radius: 12px;
  font-size: large !important;
  font-weight: 700;
}

.status-active {
  background-color: #28a745;
  color: white;
  padding: 4px 6px;
  border-radius: 12px;
  font-size: smaller;
  font-weight: 700;
}

.status-closed {
  background-color: red;
  color: white;
  padding: 4px 6px;
  border-radius: 12px;
  font-size: smaller;
  font-weight: 700;
}

.campaign-summary-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.campaign-summary-content {
  display: flex;
  flex-direction: column;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 1em;
}

.detail-row span{
  color: var(--primary-color);
  font-size: larger;
  font-weight: 600;
}

.phishPronePercentage{
  font-size: larger;
  font-weight: bold;
  color: var(--primary-color);
}

.disabled-link {
  opacity: 0.5;
  cursor: not-allowed;
}

.ranking-container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-top: 20px;
}

.ranking-header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding: 15px 0;
  border-bottom: 2px solid #ddd;
  font-size: 18px;
  color: #333;
}

.ranking-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ranking-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid #eee;
  transition: background-color 0.3s ease, transform 0.2s ease;
  font-size: 16px;
}

.ranking-row:hover {
  background-color: #f5f5f5;
  transform: translateY(-2px);
}

.unique-row {
  background-color: #f0f8ff;
  font-weight: bold;
  border-left: 5px solid #FF8C00;
  position: relative;
}

.unique-row .you-badge,
.unique-row .your-group-badge
{
  color: orange;
  font-weight: bold;
  margin-left: 5px;
  display: inline-block;
}

.unique-row .you-badge::after {
  content: '⭐ you';
}

.unique-row .your-group-badge::after {
  content: '⭐ your group';
}


.unique-row .you-badge,
.unique-row .your-group-badge {
  background-color: #ff9800;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin-left: 15px;
  position: relative;
}

.unique-row .you-badge::before,
.unique-row .your-group-badge::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -9px;
  transform: translateY(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent #ff9800 transparent transparent;
}

.ranking-no {
  flex: 0 0 10%;
  text-align: left;
  font-weight: bold;
  color: #333;
}

.user-name, .group-name {
  flex: 1;
  text-align: center;
  padding-left: 10px;
  font-size: 16px;
  color: #555;
}

.user-points, .group-percentage {
  flex: 0 0 20%;
  text-align: right;
  font-size: 16px;
  font-weight: bold;
  color: #333;
}