.square-image {
    width: 100%; /* Fixed width */
    height: 250px; /* Fixed height */
    object-fit: cover; /* Ensures it fits inside */
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  
  
  .image-upload-container {
    position: relative;
    display: inline-block;
  }
  
  .upload-hover-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Dark overlay */
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease-in-out;
    font-weight: bold;
    cursor: pointer;
  }
  
  .image-upload-container:hover .upload-hover-text {
    opacity: 1; /* Show text on hover */
  }
  