<!-- <div class="container">
    <video id="video_player"></video>
</div> -->
<video id="video_player"></video>

<!-- <div id="player-container">
    <iframe
        id="video_player"
        src="eyJhbGciOiJSUzI1NiIsImtpZCI6IjQ1ZWUxYTExZTM3ODUzZGM0NjBjOGU5MTI2Y2QyYWU4In0.eyJzdWIiOiIyMzNmMGRkYzg4ZWU3NDIyMzI4MmJlYTE4Mjg0ODMwZCIsImtpZCI6IjQ1ZWUxYTExZTM3ODUzZGM0NjBjOGU5MTI2Y2QyYWU4IiwiZXhwIjoiMTczMjAxMDcyMSIsIm5iZiI6IjE3MzIwMDM1MjEifQ.gfgUK6v3k1A2-T6NpUr2_9kvE24RjbIkd2i5P-LFIgv9bFbeu7NOo3_dsGqCjFj9GgF0UW1RibntwRYDWGOlfbsUB4lo3WZwYHq59h-iKMW9mHgTvj7Bs4MTeyHKASq-m6D3DtyQFUdhw37DExbqld3iiMhwur0y8Ed17MrB3OaJF5Q3Zu0qMl68tt51okb5gNsi7NnETTwW5z86XbxGXMRBG8wn7KcIxJo6rTp-BEOaXiP0BR-kIAwj3PPmyLSUUxAhIAHI9_udkJPqIk12xrGO-ZcbIFNodrm2S_xb5bwcfb2Zyiw34UV0QExHVs8_18rlWCs15OJCjwx0yP2cKA
        /iframe"
        frameborder="0"
        allow="autoplay; fullscreen"
        allowfullscreen></iframe>
</div> -->

<!-- <video
    preload="none"
    crossorigin=""
    none=""
    data-plyr-config='{ "title": "ds-02.mp4" }'
    playsinline=""
    data-poster="https://vz-a48a8fc4-7dd.b-cdn.net/6a959748-aa42-421b-9f5b-1c4d4a496051/thumbnail.jpg"
    src="blob:https://iframe.mediadelivery.net/07891ba5-6824-450e-a152-0e34cf11d01a">
    <source
        src="https://iframe.mediadelivery.net/6a959748-aa42-421b-9f5b-1c4d4a496051/playlist.drm?contextId=5d601f56-6a3f-4f1f-b106-20617f7a4036&amp;secret=13b7d6ad-d6ec-4ac4-b705-44a12b03fbdc" />
</video> -->

<!-- <iframe
    [src]="videoSourceUrl"
    style="border: none"
    height="720"
    width="1280"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true"></iframe> -->

<!-- <iframe
    src="https://customer-yznak3b6nkt75kru.cloudflarestream.com/eyJhbGciOiJSUzI1NiIsImtpZCI6IjQ1ZWUxYTExZTM3ODUzZGM0NjBjOGU5MTI2Y2QyYWU4In0.eyJzdWIiOiIyMzNmMGRkYzg4ZWU3NDIyMzI4MmJlYTE4Mjg0ODMwZCIsImtpZCI6IjQ1ZWUxYTExZTM3ODUzZGM0NjBjOGU5MTI2Y2QyYWU4IiwiZXhwIjoiMTczMTk0MjgxOCIsIm5iZiI6IjE3MzE5MzU2MTgifQ.mT1wP17GonKhu8XYZx5xgLlB0H-Rikhdm3IEndgL7FgnBZHU3uLr8j8LDUUbP37F7Yj9U6UMM4PKxUE5IOvwUQ_ZWLJ5G2NQnih47grdV_ST5e6wnetzBEXS0uLGeceweOaLaDVJpKzkCYu7xy_7qFgzztwbQqHTxUU9xQQbucqxbt9yRmiE75vpeEke-lya5LeJBiFhuiBzsqK-fNUrE1IM_Y1Pmx9fS8Y9JEMTvTZOvnZvp0exG-Q6gFdUUnkIr4wzVkKhKOl1ukz0vpY9cc6MwxC9fszLHUvHEhZNJhZjUo9QkslwqpxKQvCCt6ClHwlB_knf-ZvPQI05voRjBA/iframe"
    style="border: none"
    height="720"
    width="1280"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true"></iframe> -->

<!-- <iframe
    src="https://customer-yznak3b6nkt75kru.cloudflarestream.com/
    eyJhbGciOiJSUzI1NiIsImtpZCI6IjQ1ZWUxYTExZTM3ODUzZGM0NjBjOGU5MTI2Y2QyYWU4In0.eyJzdWIiOiIyMzNmMGRkYzg4ZWU3NDIyMzI4MmJlYTE4Mjg0ODMwZCIsImtpZCI6IjQ1ZWUxYTExZTM3ODUzZGM0NjBjOGU5MTI2Y2QyYWU4IiwiZXhwIjoiMTczMTk0MzAzNyIsIm5iZiI6IjE3MzE5MzU4MzcifQ.NDTbHqk2OoOtQCCOPTmFWev0Wi3qRk4wr8WtChTG6gSrlGob9XeON2pqsFjkP3jgNW5rwyqLuPP3s9qd3lTw-klnFe4KSwDgJLIXtGg8_NmY_UbgaYW465buP6rDPhGzkf_gSLHwPR-TjpvtBDQluXkvDQIDLq5cn5mAS0HXZnUnMIDySiwN6fO43g7rHdbL7pYkVHe0m1falWagPQrTUgLzCfSqU5My4vex4tOkFpJdDi4WL9dM84KaLdp8Gn-aSFs13S01DuQkwPC2boA0l8_BebhzIKv3tGR5IX7U3jrAwspGwfJJqavf6WS0QM3BGEcZX1xCKW9rkAGkP6cFSw/iframe"
    style="border: none"
    height="720"
    width="1280"
    allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;"
    allowfullscreen="true"></iframe> -->

<!-- <div class="plyr__video-embed" id="player">
    <iframe
        src="https://customer-yznak3b6nkt75kru.cloudflarestream.com/233f0ddc88ee74223282bea18284830d/watch"
        allowfullscreen
        allowtransparency
        allow="autoplay"></iframe>
</div> -->

<!-- <video id="video_player" playsinline controls data-poster="/path/to/poster.jpg">
    <source
        src="https://customer-yznak3b6nkt75kru.cloudflarestream.com/233f0ddc88ee74223282bea18284830d/downloads/default.mp4"
        type="video/mp4" />
    <source src="/path/to/video.webm" type="video/webm" />

     <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default />
</video> -->
