.gaugeChart-container{
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

:host ::ng-deep .p-card.h-full {
  height: 100%;
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .p-card.h-full .p-card-body {
  flex: 1;
  min-height: 0; /* Ensures proper shrinking in flex containers */
}

:host ::ng-deep .p-card.h-full .p-card-content {
  height: 100%;
  position: relative;
}

::ng-deep p-chart canvas {
  height: 100% !important;
}

::ng-deep .p-card .p-card-content {
  height: 100%;
}

::ng-deep .p-card .p-card-body {
  padding-bottom: 0px !important;
}