button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    font-size: inherit;
    font-family: inherit;
    &.learn-more {
        font-weight: 600;
        color: black;
        text-transform: uppercase;
        padding: 1.25em 2em;
        background: white;
        border: 1px solid black;
        border-radius: 0.75em;
        transform-style: preserve-3d;
        transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
            background 150ms cubic-bezier(0, 0, 0.58, 1);
        &::before {
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: orange;
            border-radius: inherit;
            transform: translate3d(0, 0.75em, -1em);
            transition: transform 150ms cubic-bezier(0, 0, 0.58, 1),
                box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
        }
        &:hover {
            background: #6f42c1;
            color: white;
            transform: translate(0, 0.25em);
            &::before {
                transform: translate3d(0, 0.5em, -1em);
            }
        }
    }
}
