<div class="card">
    <p-toast></p-toast>
    <div class="iAware-loading-table-container" style="position: relative;">
        <app-table-loading-spinner *ngIf="tableLoadingSpinner"></app-table-loading-spinner>

        <p-table #dt [value]="pages" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            responsiveLayout="scroll" [rowsPerPageOptions]="[10,25,50]" [totalRecords]="totalRecords" [lazy]="true"
            (onLazyLoad)="onLazyLoad($event)" [globalFilterFields]="['pageNameEn', 'pageNameAr']">
            <ng-template pTemplate="caption">
                <div class="flex flex-wrap gap-2 align-items-center justify-content-between">
                    <span class="p-input-icon-left w-full sm:w-20rem flex-order-1 sm:flex-order-0">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="onGlobalFilter(dt, $event)"
                            placeholder="{{ 'shared.search.page' | translate }}" class="w-full" />
                    </span>
                    <p-button *ngIf="hasPermission(actions.add)" (click)="navigateToCreate()"
                        class="p-button-outlined w-full sm:w-auto flex-order-0 sm:flex-order-1" icon="pi pi-user-plus"
                        label="{{ 'page-management.page-listing.actions.add' | translate }}"></p-button>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="pageNameEn" class="white-space-nowrap" style="width:25%">{{
                        'page-management.page-listing.fields.page-EN' | translate }}<p-sortIcon
                            field="pageNameEn"></p-sortIcon></th>
                    <th pSortableColumn="pageNameAr" class="white-space-nowrap" style="width:25%">{{
                        'page-management.page-listing.fields.page-AR' | translate }}<p-sortIcon
                            field="pageNameAr"></p-sortIcon></th>
                    <th pSortableColumn="pageNameAr" class="white-space-nowrap" style="width:25%">{{
                        'page-management.page-listing.fields.status' | translate }}</th>
                    <th style="width:25%" class="text-center">{{ 'shared.actions.action' | translate }}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-page>
                <tr>
                    <td><a routerLink="page-details/{{page.id}}">{{page.pageNameEn}}</a></td>
                    <td>{{getPageAreabicName(page.pageNameAr)}}</td>
                    <td> <p-inputSwitch *ngIf="hasPermission(actions.active)" [ngModel]="page.isActive"
                            (onChange)="openActivationDialog(page, $event)"></p-inputSwitch></td>
                    <td>
                        <div class="flex align-items-center justify-content-around">
                            <div>
                                <button *ngIf="hasPermission(actions.edit)" pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"
                                    (click)="openEditDialog(page)"></button>
                            </div>
                            <div>
                                <button *ngIf="hasPermission(actions.delete)" pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger" (click)="openDeleteDialog(page)"></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

<p-dialog [(visible)]="addDialog" [style]="{width: '70%', height:'80%'}"
    header="{{ 'page-management.page-listing.dialogs.addDialog.header' | translate }}" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="pageForm" (ngSubmit)="add()">
            <div class="grid">
                <div class="col-12">
                    <div class="grid formgrid p-fluid">
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="pageNameEn" class="font-medium text-900">{{
                                'page-management.page-listing.dialogs.addDialog.fields.page-EN' | translate }}</label>
                            <p-dropdown formControlName="pageNameEn" [options]="englishPageNames" [filter]="true"
                                optionLabel="name" optionValue="id"
                                (onChange)="onPageENNameChange($event)"></p-dropdown>
                            <div *ngIf="pageForm.get('pageNameEn')?.invalid && pageForm.get('pageNameEn')?.touched">
                                <div *ngIf="pageForm.get('pageNameEn')?.errors?.['required']" class="text-red-500">{{
                                    'page-management.page-listing.dialogs.addDialog.validations.page-EN' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="pageNameAr" class="font-medium text-900">{{
                                'page-management.page-listing.dialogs.addDialog.fields.page-AR' | translate }}</label>
                            <p-dropdown formControlName="pageNameAr" [options]="arabicPageNames" [filter]="true"
                                optionLabel="name" optionValue="id"
                                (onChange)="onPageENNameChange($event)"></p-dropdown>
                            <div *ngIf="pageForm.get('pageNameAr')?.invalid && pageForm.get('pageNameAr')?.touched">
                                <div *ngIf="pageForm.get('pageNameAr')?.errors?.['required']" class="text-red-500">{{
                                    'page-management.page-listing.dialogs.addDialog.validations.page-AR' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="applicationUrl" class="font-medium text-900">{{
                                'page-management.page-listing.dialogs.addDialog.fields.appUrl' | translate }}</label>
                            <input id="applicationUrl" type="text" pInputText formControlName="applicationUrl">
                            <div
                                *ngIf="pageForm.get('applicationUrl')?.invalid && pageForm.get('applicationUrl')?.touched">
                                <div *ngIf="pageForm.get('applicationUrl')?.errors?.['required']" class="text-red-500">
                                    {{ 'page-management.page-listing.dialogs.addDialog.validations.appUrl' | translate
                                    }}</div>
                            </div>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="pageUrl" class="font-medium text-900">{{
                                'page-management.page-listing.dialogs.addDialog.fields.pageUrl' | translate }}</label>
                            <input id="pageUrl" type="text" pInputText formControlName="pageUrl">
                            <div *ngIf="pageForm.get('pageUrl')?.invalid && pageForm.get('pageUrl')?.touched">
                                <div *ngIf="pageForm.get('pageUrl')?.errors?.['required']" class="text-red-500">{{
                                    'page-management.page-listing.dialogs.addDialog.validations.pageUrl' | translate }}
                                </div>
                            </div>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="displayInMenu" class="font-medium text-900">{{
                                'page-management.page-listing.dialogs.addDialog.fields.dispalyInMenu' | translate
                                }}</label>
                            <input id="displayInMenu" type="text" pInputText formControlName="displayInMenu">
                            <div
                                *ngIf="pageForm.get('displayInMenu')?.invalid && pageForm.get('displayInMenu')?.touched">
                                <div *ngIf="pageForm.get('displayInMenu')?.errors?.['required']" class="text-red-500">{{
                                    'page-management.page-listing.dialogs.addDialog.validations.dispalyInMenu' |
                                    translate }}</div>
                            </div>
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="orderNo" class="font-medium text-900">{{
                                'page-management.page-listing.dialogs.addDialog.fields.orderNo' | translate }}</label>
                            <input id="orderNo" type="number" pInputText formControlName="orderNo">
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="helpTextAr" class="font-medium text-900">{{
                                'page-management.page-listing.dialogs.addDialog.fields.helpText-AR' | translate
                                }}</label>
                            <input id="helpTextAr" type="text" pInputText formControlName="helpTextAr">
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="helpTextEn" class="font-medium text-900">{{
                                'page-management.page-listing.dialogs.addDialog.fields.helpText-EN' | translate
                                }}</label>
                            <input id="helpTextEn" type="text" pInputText formControlName="helpTextEn">
                        </div>
                        <div class="field mb-4 col-12 md:col-6">
                            <label for="fontIconCode" class="font-medium text-900">{{
                                'page-management.page-listing.dialogs.addDialog.fields.fontIconCode' | translate
                                }}</label>
                            <input id="fontIconCode" type="text" pInputText formControlName="fontIconCode">
                        </div>
                        <div class="field mb-4 col-12 md:col-6 flex flex-column align-items-start justify-content-end">
                            <div class="field-checkbox">
                                <p-checkbox formControlName="isHeading" [binary]="true"
                                    label="{{ 'page-management.page-listing.dialogs.addDialog.fields.isHeading' | translate }}"></p-checkbox>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'shared.actions.cancel' | translate }}" icon="pi pi-times"
            class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'shared.actions.save' | translate }}" icon="pi pi-check" class="p-button-text"
            [disabled]="!pageForm.valid" (click)="add()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="editeDialog" [style]="{width: '70%', height:'80%'}"
    header="{{ 'page-management.page-listing.dialogs.editDialog.header' | translate }}" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <div class="grid">
            <div class="col-12">
                <div class="grid formgrid p-fluid">
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="pageNameEn" class="font-medium text-900">{{
                            'page-management.page-listing.dialogs.editDialog.fields.page-EN' | translate }}</label>
                        <p-dropdown [(ngModel)]="currentSelected.pageNameEn" [options]="englishPageNames"
                            [filter]="true" optionLabel="name" optionValue="id"
                            (onChange)="onPageENNameEditChange($event)"></p-dropdown>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="pageNameAr" class="font-medium text-900">{{
                            'page-management.page-listing.dialogs.editDialog.fields.page-AR' | translate }}</label>
                        <p-dropdown [(ngModel)]="currentSelected.pageNameAr" [options]="arabicPageNames" [filter]="true"
                            optionLabel="name" optionValue="id"></p-dropdown>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="applicationUrl" class="font-medium text-900">{{
                            'page-management.page-listing.dialogs.editDialog.fields.appUrl' | translate }}</label>
                        <input id="applicationUrl" type="text" pInputText [(ngModel)]="currentSelected.applicationUrl">
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="pageUrl" class="font-medium text-900">{{
                            'page-management.page-listing.dialogs.editDialog.fields.pageUrl' | translate }}</label>
                        <input id="pageUrl" type="text" pInputText [(ngModel)]="currentSelected.pageUrl">
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="displayInMenu" class="font-medium text-900">{{
                            'page-management.page-listing.dialogs.editDialog.fields.dispalyInMenu' | translate
                            }}</label>
                        <input id="displayInMenu" type="text" pInputText [(ngModel)]="currentSelected.displayInMenu">
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="orderNo" class="font-medium text-900">{{
                            'page-management.page-listing.dialogs.editDialog.fields.orderNo' | translate }}</label>
                        <input id="orderNo" type="number" pInputText [(ngModel)]="currentSelected.orderNo">
                    </div>

                    <div class="field mb-4 col-12 md:col-6">
                        <label for="helpTextAr" class="font-medium text-900">{{
                            'page-management.page-listing.dialogs.editDialog.fields.helpText-AR' | translate }}</label>
                        <input id="helpTextAr" type="text" pInputText [(ngModel)]="currentSelected.helpTextAr">
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="helpTextEn" class="font-medium text-900">{{
                            'page-management.page-listing.dialogs.editDialog.fields.helpText-AR' | translate }}</label>
                        <input id="helpTextEn" type="text" pInputText [(ngModel)]="currentSelected.helpTextEn">
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="fontIconCode" class="font-medium text-900">{{
                            'page-management.page-listing.dialogs.editDialog.fields.fontIconCode' | translate }}</label>
                        <input id="fontIconCode" type="text" pInputText [(ngModel)]="currentSelected.fontIconCode">
                    </div>
                    <div class="field mb-4 col-12 md:col-6 flex flex-column align-items-start justify-content-end">
                        <div class="field-checkbox">
                            <p-checkbox name="isHeading" [(ngModel)]="currentSelected.isHeading" [binary]="true"
                                id="isHeading"
                                label="{{ 'page-management.page-listing.dialogs.editDialog.fields.isHeading' | translate }}"></p-checkbox>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'shared.actions.cancel' | translate }}" icon="pi pi-times"
            class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="{{ 'shared.actions.save' | translate }}" icon="pi pi-check" class="p-button-text"
            (click)="edit()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deleteDialog" header="{{ 'shared.headers.delete' | translate }}" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="currentSelected">{{ 'shared.messages.delete' | translate }} <b> {{currentSelected.pageNameEn}}
            </b>?</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text"
            label="{{ 'shared.actions.cancel' | translate }}" (click)="deleteDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{ 'shared.actions.delete' | translate }}"
            (click)="delete()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="activationDialog" header="{{ 'shared.headers.active' | translate }}" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        @if (currentSelected.isActive) {
        <span> {{ 'shared.messages.deactive' | translate }} <b>{{currentSelected.pageNameEn}}</b></span>
        }@else {
        <span> {{ 'shared.messages.active' | translate }} <b>{{currentSelected.pageNameEn}}</b></span>
        }
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text"
            label="{{ 'shared.actions.cancel' | translate }}" (click)="activationDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{ 'shared.actions.save' | translate }}"
            (click)="currentSelected.isActive ? activation(false) : activation(true)"></button>
    </ng-template>
</p-dialog>