.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.avatar1 {
    vertical-align: middle;
    width: 250px;
    height: 150px;
    border: 1px solid black;
}
input[type='file'] {
    display: none;
}
