::ng-deep .p-card-body {
  padding-top: 0px !important;
}

::ng-deep .p-card-title {
  position: relative;
  padding-bottom: 10px;
}

::ng-deep .p-card-title::after {
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: #ccc;
  position: absolute;
  bottom: 0;
  left: 0;
}

.report-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.header-item {
  flex: 1;
  background-color: #f7f9fc;
  border-radius: 8px;
  padding: 1rem;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  transition: transform 0.3s ease-in-out;
  border-top: 3px solid var(--primary-color);
}

.special-item {
  background-color: #3f51b5;
  color: white;
  border-top: 3px solid rgb(243, 158, 0);
}

.special-item {
  transition: transform 0.3s, box-shadow 0.3s;
  position: relative;
}

.special-item  .header-text{
  color: white !important;
}

.special-item::after {
  content: '';
  position: absolute;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px;
  border-style: solid;
  border-color: #3f51b5 transparent transparent transparent;
}

.header-item:hover {
  transform: translateY(-5px);
}

.header-number {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2d2d2d;
}

.header-percentage {
  font-size: 1.25rem;
  font-weight: bold;
  color: #2196f3;
}

.header-text {
  font-size: 1rem;
  margin-top: 0.5rem;
  color: #888;
}

.icon-container {
  margin-bottom: 0.5rem;
}

.icon-large {
  font-size: 2rem;
  color: #42a5f5;
}

.template-card {
  background-color: #f7f9fc;
  border: 1px solid #e0e6ed;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.template-header h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.template-id {
  font-size: 14px;
  color: #666;
}

.template-body {
  margin-top: 15px;
}

.template-info {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.template-info:last-child {
  border-bottom: none;
}

.info-label {
  font-weight: bold;
  color: #555;
}

.info-value {
  color: #333;
}

.status-active {
  background-color: #28a745;
  color: white !important;
  padding: 4px 6px;
  border-radius: 12px;
  font-size: smaller;
  font-weight: 700;
}

.status-closed {
  background-color: red;
  color: white !important;
  padding: 4px 6px;
  border-radius: 12px;
  font-size: smaller;
  font-weight: 700;
}

.template-summary-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.template-summary-content {
  display: flex;
  flex-direction: column;
}

.detail-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 1em;
}

.detail-row span {
  color: var(--primary-color);
  font-size: larger;
  font-weight: 600;
}

.phishPronePercentage {
  font-size: larger;
  font-weight: bold;
  color: var(--primary-color);
}

.disabled-link {
  opacity: 0.5;
  cursor: not-allowed;
}