// .pdf-container {
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     margin-top: 20px;
// }

// .pdf-viewer {
//     width: 100%;
//     height: 800px; /* Fixed height */
//     max-width: 700px;
//     border: 1px solid #dee2e6;
//     background-color: #f8f9fa;
//     border-radius: 5px;
// }

// @media (max-width: 768px) {
//     .pdf-viewer {
//         height: 600px; /* Adjust height for smaller screens */
//     }
// }

// @media (max-width: 576px) {
//     .pdf-viewer {
//         height: 400px; /* Adjust height for smallest screens */
//     }
// }