.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-summary {
    text-align: center;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    .card-content {
        padding: 1rem;
        p {
            font-size: 1.1rem;
            margin-bottom: 0.5rem;
        }

        span {
            font-size: 2rem;
            font-weight: 600;
            color: var(--primary-color);
        }
    }
}

.card-content {
    font-size: 1.1rem;
    text-align: center;
}

.card-content span {
    font-weight: 700;
    font-size: xx-large;
}

::ng-deep .card-summary .p-card-body:hover{
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);
    border-color: #883cae;
    border-radius: 5px;
    transition: 0.3s;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
    .card-grid {
        flex-direction: column;
        align-items: center;
    }

    .card-summary {
        width: 100%; /* Make sure cards take full width on mobile */
    }
}
