<div class="body">
  <div class="reset-container">
    <h2>Reset Your Password</h2>
    <p>Enter a new password below to reset it for your account.</p>
    <form [formGroup]="resetPassForm" (ngSubmit)="submit()">
      <!-- New Password -->
      <div class="form-group" [class.has-error]="resetPassForm.controls['password'].invalid && (resetPassForm.controls['password'].dirty || resetPassForm.controls['password'].touched)">
        <input type="password" formControlName="password" id="password" name="new-password"
          placeholder="{{ 'auth.reset-password.fields.newPass' | translate }}" [ngClass]="{
          'is-invalid': resetPassForm.controls['password'].invalid && (resetPassForm.controls['password'].dirty || resetPassForm.controls['password'].touched),
          'is-valid': resetPassForm.controls['password'].valid }" />
        <span class="icon">🔒</span>
        <!-- Validation Messages -->
        <div class="validation-messages"
          *ngIf="resetPassForm.controls['password'].invalid && (resetPassForm.controls['password'].dirty || resetPassForm.controls['password'].touched)">
          <div *ngIf="resetPassForm.controls['password'].errors?.['required']" class="p-error">
            {{ 'auth.reset-password.validations.password' | translate }}
          </div>
          <div *ngIf="resetPassForm.controls['password'].errors?.['minlength']" class="p-error">
            {{ 'auth.reset-password.validations.passMinLength' | translate }}
          </div>
          <div *ngIf="resetPassForm.controls['password'].errors?.['maxlength']" class="p-error">
            {{ 'auth.reset-password.validations.passMaxLength' | translate }}
          </div>
          <div *ngIf="resetPassForm.controls['password'].errors?.['missingUppercase']" class="p-error">
            {{ 'auth.reset-password.validations.missingUppercase' | translate }}
          </div>
          <div *ngIf="resetPassForm.controls['password'].errors?.['missingLowercase']" class="p-error">
            {{ 'auth.reset-password.validations.missingLowercase' | translate }}
          </div>
          <div *ngIf="resetPassForm.controls['password'].errors?.['missingNumber']" class="p-error">
            {{ 'auth.reset-password.validations.missingNumber' | translate }}
          </div>
          <div *ngIf="resetPassForm.controls['password'].errors?.['missingSpecialChar']" class="p-error">
            {{ 'auth.reset-password.validations.missingSpecialChar' | translate }}
          </div>
        </div>
      </div>
    
      <!-- Confirm Password -->
      <div class="form-group" [class.has-error]="resetPassForm.controls['cPassword'].invalid && (resetPassForm.controls['cPassword'].dirty || resetPassForm.controls['cPassword'].touched)">
        <input type="password" formControlName="cPassword" id="cPassword" name="confirm-password"
          placeholder="{{ 'auth.reset-password.fields.confirmPassword' | translate }}" [ngClass]="{
                    'is-invalid': resetPassForm.controls['cPassword'].invalid && (resetPassForm.controls['cPassword'].dirty || resetPassForm.controls['cPassword'].touched),
                    'is-valid': resetPassForm.controls['cPassword'].valid
                  }" />
        <span class="icon">🔒</span>
        <!-- Validation Messages -->
        <div class="validation-messages"
          *ngIf="resetPassForm.controls['cPassword'].invalid && (resetPassForm.controls['cPassword'].dirty || resetPassForm.controls['cPassword'].touched)">
          <div *ngIf="resetPassForm.controls['cPassword'].errors?.['required']" class="p-error">
            {{ 'auth.reset-password.validations.cpassword' | translate }}
          </div>
          <div *ngIf="resetPassForm.controls['cPassword'].errors?.['ConfirmPassword']" class="p-error">
            {{ 'auth.reset-password.validations.passwordsMismatch' | translate }}
          </div>
        </div>
      </div>
    
      <!-- Submit Button -->
      <button class="reset-btn" type="submit" [disabled]="resetPassForm.invalid">
        {{ 'auth.reset-password.actions.submit' | translate }}
      </button>
    </form>
    <div class="links">
      <a routerLink="/auth">Back to Login</a>
    </div>
    <div class="footer">
      © 2024 iAware. All rights reserved.
    </div>
  </div>
</div>