.bbbutton {
    border: none;
    display: flex;
    padding: 0.75rem 1.5rem;
    background-color: #883cae;
    color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    align-items: center;
    border-radius: 0.5rem;
    user-select: none;
    gap: 0.75rem;
    box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
    transition: all 0.6s ease;
}

.bbbutton:hover {
    box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
}

.bbbutton:focus,
button:active {
    opacity: 0.85;
    box-shadow: none;
}

.bbbutton svg {
    width: 1.25rem;
    height: 1.25rem;
}

.p-tabview .p-tabview-nav-content .p-tabview-nav li {
    color: #883cae !important;
    background-color: red;
}

.icon-button {
    background-color: #883cae; /* Customize button background color */
    border: none;
    border-radius: 50%;
    width: 30px; /* Adjust size */
    height: 30px; /* Adjust size */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px; /* Adjust spacing between buttons */
    cursor: pointer; /* Optional: make buttons look clickable */
    color: white; /* Icon color */
    font-size: 14px; /* Adjust icon size */
}

.icon-button i {
    margin: 0;
}

.p-toast-message-container {
    display: flex;
    align-items: center;
}

.p-toast-content {
    display: flex;
    flex-direction: column;
}

.p-toast-header {
    display: flex;
    align-items: center;
}

.p-toast-icon {
    font-size: 20px;
    margin-right: 8px;
}

.p-toast-summary {
    font-weight: bold;
    font-size: 16px;
}

.p-toast-detail {
    margin-top: 12px;
    font-size: 14px;
    line-height: 1.3;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

:host ::ng-deep .p-dataview-emptymessage{
    display: none !important;;
}


.object-cover {
    transition: transform 0.3s ease-in-out;
}

.object-cover:hover {
    transform: scale(1.05);
} 

::ng-deep .animated-button {
    position: relative;
    padding: 15px 40px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background: linear-gradient(90deg, #800080, #4b0082);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    overflow: hidden;
    background-size: 200% 200%;
    animation: gradientWave 4s ease-in-out infinite !important;
}

@keyframes gradientWave {
    0% {
        background-position: 100% 50%;
    }
    25% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    75% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}





@media only screen and (min-width: 767px)  {

    .phishing-see-more{
    h1, h2, h3, h4, h5, p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: var(--transition);
     
    }

    h1, h2, h3, h4, h5, p {
        -webkit-line-clamp: 1; /* Minimum of 2 lines */
        // min-height: 1.6em; /* Adjust based on font size and line-height */
    }
      
    &:hover {
        transform: translateY(-5px);

        h1, h2, h3, h4, h5, p {
            -webkit-line-clamp: unset; /* Remove line limit */
            overflow: visible; /* Show full content */
        }
    }
}
}
