:host ::ng-deep .p-dataview-emptymessage{
    display: none !important;;
}

.avatar {
    vertical-align: middle;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}

:host ::ng-deep .p-image-preview-container>img{
    border-radius: 8px !important;
}

.object-cover {
    transition: transform 0.3s ease-in-out;
}

.object-cover:hover {
    transform: scale(1.05);
}

.truncate-text {
    display: -webkit-box;
    -webkit-line-clamp: 1; /* Limits to 1 line */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; /* Ensures one-line truncation for long text */
}




@media only screen and (min-width: 767px)  {

    .wall-see-more{
    h1, h2, h3, h4, h5, p {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        transition: var(--transition);
     
    }

    h1, h2, h3, h4, h5, p {
        -webkit-line-clamp: 1; /* Minimum of 2 lines */
        // min-height: 1.6em; /* Adjust based on font size and line-height */
    }
    h1, h2, h3, h4, h5 {
        font-weight: bold; /* Ensures bold font weight */
      }
      
      
    &:hover {
        transform: translateY(-5px);
        transition: transform 1s ease-in-out; /* Transition for transform */

        h1, h2, h3, h4, h5, p {
            -webkit-line-clamp: unset; /* Remove line limit */
            overflow: visible; /* Show full content */
            transition: var(--transition, all 0.8s ease-in-out); /* Apply transition */

        }
    }
}
}



.wall-image-container {
    position: relative;
    width: 100%; /* Makes the image container responsive */
    padding-top: 66.67%; /* Aspect ratio 16:9 (change if needed) */
    overflow: hidden;
    border-radius: 8px; /* Optional: add rounded corners */
    background-color: #f4f4f4; /* Fallback background color */
  }
  
  .wall-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill; /* Ensures the image covers the container without distortion */
    border-radius: 8px; /* Optional: match the container's rounded corners */
  }