// .user-item {
//     &:hover {
//       background-color: var(--surface-hover);
//       transform: translateX(5px);
//     }
  
//     &.selected-user {
//       background-color: var(--highlight-bg);
//       border-left: 4px solid var(--primary-color);
//     }
//   }
  
//   .activity-item {
//     transition: transform 0.2s ease;
    
//     &:hover {
//       transform: translateY(-2px);
//     }
//   }

.user-list .user-card {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid var(--surface-border);
  border-radius: 8px;
  background-color: var(--surface-card);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

.user-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
}

.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-size: 1rem;
  font-weight: bold;
}

.user-email {
  font-size: 0.875rem;
  color: var(--text-secondary);
}

.delivered-icon {
  color: green;
}

.opened-icon,
.qr-code-icon,
.clicked-icon,
.data-entered-icon {
  color: red;
}

.reported-icon {
  color: blue;
}

.action-buttons p-button {
  margin: 0 0.5rem;
}

.card {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
}

.main-content-wrapper {
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden; /* Prevent vertical scrolling */
  width: 100%; /* Ensure the div takes full width */
  display: block; /* Allow scrolling behavior */
}

// .grid {
//   min-width: 1200px; /* Ensure the grid layout can scroll horizontally if its width exceeds the parent */
// }
