.pi-eye:hover{
    cursor: pointer;
}



/* General styling for the input field */
.startDate {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%; /* Adjust width to fit the container */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s, box-shadow 0.3s;
}

/* On focus styling */
.startDate:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);
    border-color: #883cae;
}

/* Styling the calendar icon */
.startDate::-webkit-calendar-picker-indicator {
    // background: url('path/to/your/custom-icon.png') center/contain no-repeat;
    cursor: pointer;
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* Placeholder styling */
.startDate::placeholder {
    color: #aaa;
    font-style: italic;
}

/* Adjust for different screen sizes */
@media (max-width: 600px) {
    .startDate {
        width: calc(100% - 22px); /* Ensure it fits smaller screens */
        font-size: 14px;
    }
}

::ng-deep [data-pc-section="moveToSourceButton"] {
    display: none !important;
}

::ng-deep [data-pc-section="moveAllToSourceButton"] {
    display: none !important;
}