<div class="layout-topbar" [ngClass]="{ 'border-bottom-none': layoutService.config().topbarTheme !== 'light' }">
    <div class="layout-topbar-start flex justify-content-between align-items-center" style="margin-top: 10px">
        <div class="flex align-items-center">
            <a class="layout-topbar-logo" routerLink="/" style="margin-left: 30px">
                <img [src]="ComapnyLogo" alt="Company Logo" />
            </a>
            <a #menuButton class="layout-menu-button" (click)="onMenuButtonClick()" pRipple>
                <i class="pi pi-angle-right"></i>
            </a>
        </div>

        <div id="" class="flex justify-content-center flex-grow-1">
            <a class="iaware-logo layout-topbar-logo" routerLink="/">
                <img src="../../assets/media/iAwareee.png" alt="iAware Logo" />
            </a>
        </div>

        <a #mobileMenuButton class="layout-topbar-mobile-button" (click)="onMobileTopbarMenuButtonClick()" pRipple>
            <i class="pi pi-bars text-4xl"></i>
        </a>
    </div>

    <div class="layout-topbar-middel">
        <a class="layout-topbar-logo" routerLink="/">
            <img src="../../assets/media/iAwareee.png" alt="Logo" />
        </a>
    </div>
    <div class="layout-topbar-end">
        <div class="layout-topbar-actions-end">
            <ul class="layout-topbar-items" style="align-items: center">
                <!-- <li>
                    <p-autoComplete [(ngModel)]="searchQuery" [suggestions]="filteredResults"
                        (completeMethod)="search($event)" (onSelect)="onSearchItemSelected($event)" [dropdown]="true"
                        [minLength]="2" field="label" placeholder="Search..." [forceSelection]="false"
                        [disabled]="isSearching" [style]="{ width: '300px' }"></p-autoComplete>
                </li> -->

                <li>
                    <i [class]="
                            themeLoading
                                ? 'pi pi-spin pi-spinner text-2xl'
                                : userTheme === 'dark'
                                ? 'pi pi-sun text-2xl cursor-pointer'
                                : 'pi pi-moon text-2xl cursor-pointer'
                        " [style.cursor]="themeLoading ? 'default' : 'pointer'" (click)="changeUserTheme()"></i>
                </li>

                <li>
                    <a pStyleClass="@next" enterFromClass="ng-hidden-temp" enterActiveClass="px-scalein"
                        leaveToClass="ng-hidden-temp" leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" pRipple
                        [style.cursor]="langLoading ? 'default' : 'pointer'">
                        <i [class]="
                                langLoading 
                                    ? 'pi pi-spin pi-spinner text-2xl' 
                                    : 'pi pi-globe text-2xl'
                            "></i>
                    </a>
                    <div class="ng-hidden-temp hidden-temp" id="hidden-temp" *ngIf="isListboxVisible">
                        <p-listbox [options]="languages" optionLabel="name" optionValue="id"
                            [ngModel]="userLanguageId" (onChange)="changeUserLanguage($event)"></p-listbox>
                    </div>
                </li>

                <li>
                    <i *ngIf="unreadCount > 0" class="pi pi-bell text-2xl mr-2 cursor-pointer" pBadge severity="danger" pStyleClass="@next"
                        enterFromClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden"
                        leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" [value]="unreadCount.toString()"></i>
                    
                    <i *ngIf="unreadCount == 0" class="pi pi-bell text-2xl mr-2 cursor-pointer" pStyleClass="@next"
                        enterFromClass="ng-hidden" enterActiveClass="px-scalein" leaveToClass="ng-hidden"
                        leaveActiveClass="px-fadeout" [hideOnOutsideClick]="true" ></i>

                    <div class="ng-hidden" style="margin-top: 9px">
                        <p-scrollPanel [style]="{ width: '35rem', height: '300px' }" *ngIf="notifications && notifications.length > 0; else noNotifications">

                            <!-- Notification List -->
                            <ul class="list-none p-0 m-0">
                                <li *ngFor="let notification of notifications; let last = last" [ngClass]="{
                                    'unread-notification': !notification.isRead,
                                    'read-notification': notification.isRead,
                                    'campaign-notification': notification.notificationTypeId === notificationTypeEnum.SendCampaignNotification,
                                    'lesson-notification': notification.notificationTypeId === notificationTypeEnum.SendCampaignLessonNotification
                                    }" [ngStyle]="{ 'border-bottom': last ? 'none' : '1px solid #80808026' }" class="notification-item py-3 px-3">

                                    <!-- Notification Item -->
                                    <a [href]="notification.redirectPageUrl" target="_blank"
                                        (click)="readNotification(notification.transactionId)"
                                        style="width: 100%; height: 100%; text-decoration: none; color: inherit">

                                        <div class="flex justify-content-between flex-wrap notification-content">
                                            <!-- Left: Image and Text -->
                                            <div class="flex align-items-center">
                                                <img [src]="notification.notificationLogoUrl"
                                                    class="notification-image" />
                                                <div class="notification-msg">
                                                    <span class="notification-title">{{ notification.title }}</span>
                                                    <span class="notification-text">{{ notification.notificationMessage
                                                        }}</span>
                                                </div>
                                            </div>
                                            <!-- Right: Date -->
                                            <div class="notification-date flex align-items-center">
                                                <span class="notification-time">{{ notification.insertedTime | date :
                                                    'yyyy-MM-dd' }}</span>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </p-scrollPanel>

                        <ng-template #noNotifications>
                            <div class="no-notifications" style="text-align: center; padding: 1rem; color: gray">
                                You don't have notifications yet
                            </div>
                        </ng-template>

                        <a *ngIf="notifications && notifications.length > 0" (click)="handleClick()"
                            [ngStyle]="{ color: unreadCount > 0 ? 'var(--primary-color)' : 'gray' }"
                            style="cursor: pointer" class="mark-all-btn flex justify-content-end mx-3">
                            <i class="pi pi-check mx-1" [style.margin-top.px]="3"></i>{{ 'layout.top-bar.markAllAsRead'
                            | translate }}
                        </a>
                    </div>
                </li>
                <li>
                    <i class="pi pi-power-off text-2xl cursor-pointer" (click)="logOut()"></i>
                </li>
            </ul>
        </div>
    </div>
</div>