<div class="surface-section px-4 py-8 md:px-6 lg:px-8">
    <div class="text-center">
        <div class="text-900 font-bold text-5xl mb-3"> {{ 'auth.verification-email.title' | translate}}</div>
        <div class="text-700 text-2xl mb-3">
            {{ 'auth.verification-email.message' | translate}}
        </div>
        <div class="text-700 text-2xl mb-3">
            {{ 'auth.verification-email.messageI' | translate}} <strong>{{ 'auth.verification-email.messageII' | translate}}</strong>.
        </div>
        <div>
            <img src="assets/images/email_verification.jpg" alt="Email Verification" style="max-width: 100%; height: auto;">
        </div>
    </div>
</div>
