<p-toast></p-toast>
<div class="surface-ground px-4 py-8 md:px-6 lg:px-8">
    <div class="text-primary-900 font-bold text-6xl mb-4 text-center">{{ 'auth.email-verified.welcome' | translate}}</div>
    <div class="text-700 text-xl mb-6 text-center line-height-3">
        {{ 'auth.email-verified.message' | translate}}
    </div>

    <div class="grid">
        <div class="col-12 lg:col-6 m-auto">
            <div class="p-3 h-full">
                <div class="shadow-2 p-4 h-full flex flex-column surface-card" style="border-radius: 6px; text-align: center;">
                    <div class="text-900 font-bold text-2xl mb-4">
                        <i class="pi pi-envelope pi-spin text-primary-600" style="font-size: 2.5rem;"></i>
                    </div>
                    <div class="text-700 text-lg mb-4">
                        {{ 'auth.email-verified.waitMessage' | translate}}
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
