.ltr-layout {
    .layout-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        background-color: var(--surface-card);
    }
}

.rtl-layout {
    .layout-footer {
        direction: rtl; // Apply RTL direction to the layout
        text-align: right; // Align text to the right
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        background-color: var(--surface-card);
    }
}
