<div class="card">
    <p-toast></p-toast>
    <form [formGroup]="form" (ngSubmit)="saveSettings()">
        <div class="col-12">
            <div class="card">
                <h5>{{'account.user-provisioning-notifications.title' | translate}}</h5>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 flex justify-content-between">
                        <label htmlFor="enableUserProvisioningNotifications">{{'account.user-provisioning-notifications.enableUserProvisioningNotifications' | translate}}</label>
                        <p-inputSwitch formControlName="enableUserProvisioningNotifications"></p-inputSwitch>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="timeFrame">{{'account.user-provisioning-notifications.timeFrame' | translate}}</label>
                        <input pInputText id="timeFrame" type="text" formControlName="timeFrame" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="notificationsRecipients">{{'account.user-provisioning-notifications.notificationsRecipients' | translate}}</label>
                        <input pInputText id="notificationsRecipients" type="text" formControlName="notificationsRecipients" />
                    </div>
                    <div class="col-12">
                        <button pButton pRipple label="{{'shared.actions.saveChanges' | translate}}" class="w-auto mt-3" type="submit" [disabled]="!form.valid"></button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>