/* Main card container */
.card-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    // background-color: #fff;
}

/* Header with button */
.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.button-container .p-button {
    background-color: #883cae;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

/* Form group styling */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.form-group input[type='text'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Image preview section */
.image-previews {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.character-preview,
.background-preview {
    width: 76%; /* Adjust according to your needs */
}

.character-preview img,
.background-preview img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/* Quote container */
.quote-container {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    // background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quote-text strong {
    font-size: 1.5rem;
}

.ng-invalid.ng-touched {
    border-color: red;
}

:host ::ng-deep .p-dataview-emptymessage{
    display: none !important;;
}