/* Optional: Custom styles */

.fixed-section {
    position: sticky;
    top: 0;
    right: 0;
    width: 600px;
    height: 600px;
    border: 4px solid #6f42c1;
    z-index: 1000;
}

.grid-container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    grid-column: 1 / span 1;
    grid-row: 1;
}

.character {
    grid-column: 2 / span 1;
    grid-row: 1;
}

.quote {
    grid-column: 1 / span 2;
    grid-row: 2;
}
