.phishing-header {
    text-align: center;
}

.phishing-header h2 {
    text-align: center;
    font-size: clamp(1.8rem, 2vw, 2.5rem);
    color: var(--primary-color);
    margin-bottom: 40px;
    position: relative;
}

.phishing-header h2::after {
    content: "";
    display: block;
    width: 100px;
    height: 4px;
    background: var(--primary-color);
    margin: 10px auto 0;
    border-radius: 10px;
}

.phishing-header p {
    font-size: 18px;
}
.phishing-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 30px;
}

.phishing-item {
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    padding: 7px 30px;
    display: flex;
    align-items: center;
    gap: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.phishing-icon {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    font-size: 24px;
}

.phishing-content h2 {
    font-size: 22px;
    color: #4a148c;
    margin-bottom: 5px;
}

.phishing-content p {
    font-size: 16px;
    color: #555;
}


::ng-deep .p-card-body{
    height: 100%;
}

::ng-deep .p-card-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Card Design */
.phishing-card {
    background: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.phishing-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);;
}

.phishing-card .icon-container {
    width: 80px;
    height: 80px;
    margin: 0 auto 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    color: #ffffff;
    background: var(--primary-color);
    border-radius: 50%;
}

.phishing-card.failure .icon-container {
    background: #f44336;
}

.phishing-card .title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
}

.phishing-card .description {
    font-size: 0.9rem;
    color: #777;
    margin-bottom: 20px;
}

.phishing-card .progress-container, .phishing-item .progress-container{
    width: 100%;
    background: #e9e9e9;
    border-radius: 10px;
    overflow: hidden;
    height: 15px;
}

.phishing-card .progress-bar, .phishing-item .progress-bar {
    height: 100%;
    border-radius: 10px;
    transition: width 0.5s ease;
}

.progress-bar.success {
    background: var(--green-500);
}

.progress-bar.failuer {
    background: var(--red-500);
}

.progress-bar.failure {
    background: #f44336;
}

.phishing-card .stats , .phishing-item  {
    display: flex;
    justify-content: space-between;
}

.phishing-card .stats span {
    font-size: 1rem;
    font-weight: bold;
}

.phishing-card .stats .success-rate {
    color: var(--primary-color);
}

.phishing-card .stats .failure-rate {
    color: #f44336;
}

.phishing-card .details-btn {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 0.9rem;
    color: #ffffff;
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.phishing-card .details-btn:hover {
    background: #4a0072;
}

/* Responsive Design */
@media (max-width: 600px) {
    .phishing-card {
        padding: 15px;
    }

    .phishing-card .icon-container {
        width: 70px;
        height: 70px;
    }
}