#gaugeArea{
    text-align: center;
    fill: var(--primary-color); /* Replace with your color */
}
div#gaugeArea svg {
    max-width: 90%;
}
.gauge-value {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-color);
    margin-top: 10px;
}