<div class="body">
  <div class="forgot-container">
    <h2>Forgot Password?</h2>
    <p>Enter your email address, and we’ll send you instructions to reset your password.</p>
    <form [formGroup]="loginCreditials" (ngSubmit)="sendCode()">
      <div class="form-group">
        <input type="email" name="email" formControlName="email" placeholder="Enter your email">
        <span class="icon">📧</span>
        <div *ngIf="email?.touched && email?.errors" class="error">
          <small *ngIf="email?.errors?.['required']">Email is required</small>
          <small *ngIf="email?.errors?.['email']">Invalid email address</small>
        </div>
      </div>
      <div *ngIf="validationMessage" class="backend-error-message">
        <i class="pi pi-exclamation-circle" style="margin-right: 5px;"></i>
        <span>
          {{validationMessage}}
        </span>
      </div>
      <div class="flex align-items-center justify-content-center mt-4 gap-3">
        <button class="reset-btn" type="submit" [disabled]="loginCreditials.invalid">
          <ng-container *ngIf="isLoading$ | async">
            <span class="indicator-progress" [style.display]="'block'">
              {{ 'auth.login.pleaseWait' | translate }}
              <i class="pi pi-spin pi-spinner" style="font-size: 1rem"></i>
            </span>
          </ng-container>
          <ng-container *ngIf="(isLoading$ | async) === false">
            <span>{{ 'Send Reset Code' | translate }}</span>
          </ng-container>
        </button>
      </div>
    </form>
    <div class="links">
      <a routerLink="/auth">Back to Login</a>
    </div>
    <div class="footer"> © 2024 iAware. All rights reserved. </div>
  </div>
</div>