.table-container {
    margin-top: 20px;
    overflow-x: auto;
}

.styled-table {
    width: 100%;
    border-collapse: collapse;

    th, td {
        padding: 10px;
        border: 1px solid #ddd;
        text-align: center;
        white-space: nowrap;
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .styled-table {
        font-size: 12px;
    }

    th, td {
        padding: 5px;
    }

    .color-dot {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 480px) {
    .styled-table {
        font-size: 10px;
    }

    th, td {
        padding: 4px;
    }

    .short-line {
        width: 20px;
    }
}

.color-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    margin-top: 5px;
}

.short-line {
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
}

.benchmark-button {
    padding-bottom: 5;
    padding-top: 0;
}

@media (min-width: 768px) {
    .benchmark-button-miniscreen {
        text-align: end;
        width: 100%;
    }
}

.container {
    display: flex;
    transition: all 0.6s ease;
    flex-direction: row;

    @media (max-width: 768px) {
        flex-direction: column;
    }
}

.chart-section {
    transition: all 0.6s ease;
    padding: 0 10px;
    width: 100%;

    &.expanded {
        width: 100%;
    }

    &.shrinked {
        width: 66.66%;

        @media (max-width: 768px) {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        order: 2;
    }
}

.industry-benchmark {
    transition: all 0.6s ease;
    overflow: hidden;
    padding: 0 10px;

    &.hidden {
        width: 0;
        opacity: 0;
        padding: 0;
    }

    &.visible {
        width: 33.33%;
        opacity: 1;

        @media (max-width: 768px) {
            width: 100%;
            order: 1;
        }
    }
}

h2 {
    font-size: 1.2em;
    text-align: center;
    color: #333;
}

.benchmark-data {
    margin-bottom: 20px;
}

.data-row {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.label {
    font-weight: bold;
    font-size: 0.9em;
}

.value {
    font-size: 1.6em;
    font-weight: bold;
    color: var(--primary-color);
}

.value.industry-value {
    color: #1a73e8;
}


 