@if (ticket) {
<div class="flex flex-column h-full">
    <div class="flex align-items-center border-bottom-1 surface-border p-3 lg:p-6">
        <div class="relative flex align-items-center mr-3">
            <img src="{{ticket.userImageUrl}}" class="w-4rem h-4rem border-circle shadow-4">
            <span class="w-1rem h-1rem border-circle border-2 surface-border absolute bottom-0 right-0"
                [ngClass]="{'bg-green-400': ticket.isActive , 'bg-red-400': !ticket.isActive}"></span>

        </div>
        <div class="mr-2">
            <span class="text-900 font-bold block">{{ticket.userName}}</span>
            <p class="text-700"><span class="text-900 font-semibold">{{'layout.ticket-chat-box.details' |
                    translate}}</span> {{ticket.requestDetail}}</p>
        </div>
        <div class="flex align-items-center ml-auto">
            <button *ngIf="ticket?.fileUrl" pButton pRipple type="button" icon="pi pi-cloud-download"
                pTooltip="{{'layout.ticket-chat-box.downloadMessage' | translate}}"
                (click)="downloadFile(ticket.fileUrl)"
                class="p-button-rounded p-button-outlined p-button-secondary mr-3"></button>
        </div>
    </div>
    <div class="p-3 md:px-4 lg:px-6 lg:py-4 mt-2 overflow-y-auto" style="max-height: 53vh;" #chatWindow
        *ngIf="ticket.helpCategoryTicketActivities;">
        <div *ngFor="let message of ticket.helpCategoryTicketActivities">
            <div class="grid grid-nogutter mb-4">
                <div class="col mt-3">
                    <div class="flex align-items-start">
                        <img *ngIf="message.insertedUserId !== currentUserId" [src]="message.senderImageUrl"
                            [alt]="message.senderName" class="w-3rem h-3rem border-circle shadow-4 mr-3 mt-1">
                        <div class="flex-grow-1">
                            <p *ngIf="message.insertedUserId !== currentUserId" class="text-900 font-semibold mb-3">
                                {{message.senderName}}</p>
                            <span
                                class="inline-block text-left font-medium border-1 surface-border p-3 white-space-normal border-round"
                                [ngClass]="{'bg-primary-100 text-primary-900': message.insertedUserId === currentUserId, 'text-700': message.insertedUserId !== currentUserId}"
                                style="word-break: break-word; width: 100%;">{{message.reply}}
                                <div class="text-right m-auto mt-1">
                                    <button *ngIf="message.fileUrl != null" pButton pRipple type="button"
                                        icon="pi pi-cloud-download"
                                        pTooltip="{{'layout.ticket-chat-box.downloadMessageFile' | translate}}"
                                        (click)="downloadFile(message.fileUrl)"
                                        class="p-button-rounded p-button-outlined p-button-secondary mr-3"></button>
                                </div>
                            </span>
                            <p class="text-700 mt-3">{{parseDate(message.insertedTime)}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div
        class="p-3 md:p-4 lg:p-6 flex flex-column sm:flex-row align-items-center mt-auto border-top-1 surface-border gap-3">
        <ng-container *ngIf="!isChatClosed; else closed">
            <textarea id="message" type="text" pInputText name="message"
                placeholder="{{'layout.ticket-chat-box.messagePlaceHolder' | translate}}"
                class="flex-1 w-full sm:w-auto border-round" [(ngModel)]="textContent"
                (keydown.enter)="sendMessage()"></textarea>
            <div class="flex justify-content-between">
                <p-button (onClick)="op.toggle($event)" class="mr-1" icon="pi pi-tags" />
                <p-overlayPanel #op>
                    <div class="flex flex-column gap-1">
                        <div *ngFor="let s of status">
                            <div (keydown.enter)="onStatusClicked(s)" (click)="onStatusClicked(s)"
                                [ngStyle]="{'background-color': s.colorCode}"
                                class="border-round text-lg font-semibold shadow-2 border-1 surface-border p-2 cursor-pointer select-none hover:surface-hover transition-colors transition-duration-150">
                                <span style="color:white">
                                    {{ s.title }}
                                </span>
                            </div>
                        </div>
                    </div>
                </p-overlayPanel>

                <div class="flex align-items-center justify-content-center" style="display: none;">
                    <p-button icon="pi pi-cloud-upload" class="mr-1" (click)="onUploadFileClick()"></p-button>
                    <input type="file" id="allticketActivityAttachmentsFile" style="display: none;"
                        (change)="onFileSelected($event)">
                </div>

                <button pButton pRipple icon="pi pi-send" [disabled]="textContent.trim() === ''"
                    (click)="sendMessage()"></button>
            </div>

        </ng-container>
        <ng-template #closed>
            <div class="text-center m-auto">
                <p-messages severity="info">
                    <ng-template pTemplate>
                        <div class="ml-2">{{'layout.ticket-chat-box.closedMessage' | translate}}</div>
                    </ng-template>
                </p-messages>
            </div>
        </ng-template>

    </div>
    <!-- <div class="mt-3 text-center" *ngIf="selectedFile">
        <p-message severity="info" [text]="fileUploderText"></p-message>
    </div> -->
</div>
}