.campaign-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
}


.status-completed {
    background-color: #28a745 !important;
    color: white !important;
    padding: 4px 6px;
    border-radius: 12px;
    font-size: x-large !important;
    font-weight: 700;
}

.status-in-progress {
    background-color: #ffc107 !important;
    color: white !important;
    padding: 4px 6px;
    border-radius: 12px;
    font-size: large !important;
    font-weight: 700;
}

.status-not-started {
    background-color: #6c757d !important;
    color: white !important;
    padding: 4px 6px;
    border-radius: 12px;
    font-size: x-large !important;
    font-weight: 700;
}

.campaign-summary-card {
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.campaign-summary-content {
    display: flex;
    flex-direction: column;
}

.detail-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 1em;
}

.detail-row span{
    color: var(--primary-color);
    font-size: larger;
    font-weight: 600;
}

::ng-deep .p-card-title {
    position: relative;
    padding-bottom: 10px;
}

::ng-deep .p-card-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    position: absolute;
    bottom: 0;
    left: 0;
}

.ranking-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.ranking-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
    font-size: 18px;
    color: #333;
}

.ranking-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ranking-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s ease, transform 0.2s ease;
    font-size: 16px;
}

.ranking-row:hover {
    background-color: #f5f5f5;
    transform: translateY(-2px);
}

.unique-row {
    background-color: #f0f8ff;
    font-weight: bold;
    border-left: 5px solid #FF8C00;
    position: relative;
}

.unique-row .you-badge,
.unique-row .your-group-badge
 {
    color: orange;
    font-weight: bold;
    margin-left: 5px;
    display: inline-block;
}

.unique-row .you-badge::after {
    content: '⭐ you';
}

.unique-row .your-group-badge::after {
    content: '⭐ your group';
}


.unique-row .you-badge,
.unique-row .your-group-badge {
    background-color: #ff9800;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    margin-left: 15px;
    position: relative;
}

.unique-row .you-badge::before,
.unique-row .your-group-badge::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -9px;
    transform: translateY(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent #ff9800 transparent transparent;
}

.ranking-no {
    flex: 0 0 10%;
    text-align: left;
    font-weight: bold;
    color: #333;
}

.user-name, .group-name {
    flex: 1;
    text-align: center;
    padding-left: 10px;
    font-size: 16px;
    color: #555;
}

.user-points, .group-percentage {
    flex: 0 0 20%;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}