<p-card styleClass="c">

    <ng-template pTemplate="title">
        <app-iAware-info *ngIf="pageTitle" [isDynamic]="true" severity="info"
            [description]="pageTitle"></app-iAware-info>
    </ng-template>


    <!-- uncomment for VDOCIPHER  -->
    <!-- <ng-template pTemplate="content">
        <p-card
            styleClass="c"
            [style]="{ border: '2px solid rgb(136 60 174 / 26%)', borderRadius: '8px', margin: '1rem' }">
            <div class="flex justify-content-center iAware-loading-table-container" style="position: relative">
                <app-table-loading-spinner *ngIf="tableLoadingSpinner"></app-table-loading-spinner>
                <div class="flex flex-wrap align-content-center justify-content-center" style="width: 90%">
                    <app-vdo-player
                        *ngIf="videoUrl"
                        (videoCompleted)="onVideoEnded($event)"
                        [videoId]="videoUrl"
                        style="width: 100%; height: auto"></app-vdo-player>
                </div>
            </div>
        </p-card>
    </ng-template> -->


    <!-- <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
            <p-button label="{{ 'campaign.campaignDetails.actions.next' | translate }}" (onClick)="nextPage()"
                [disabled]="!isVideoCompleted" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template> -->

    <ng-template pTemplate="content">
        <p-card styleClass="c"
            [style]="{ border: '2px solid rgb(136 60 174 / 26%)', borderRadius: '8px', margin: '1rem' }">
            <div class="flex justify-content-center iAware-loading-table-container" style="position: relative">
                <app-table-loading-spinner *ngIf="tableLoadingSpinner"></app-table-loading-spinner>
                <div class="flex flex-wrap align-content-center justify-content-center" style="width: 90%">
                    <app-video-player *ngIf="videoUrl" [videoUrl]="videoUrl" (videoCompleted)="onVideoEnded($event)"
                        style="width: 100%; height: auto">
                    </app-video-player>
                </div>
            </div>
        </p-card>
    </ng-template>

    <ng-template pTemplate="footer">
        <div class="grid grid-nogutter justify-content-end">
            <p-button label="{{ 'campaign.campaignDetails.actions.next' | translate }}" (onClick)="nextPage()"
                [disabled]="!isVideoCompleted" icon="pi pi-angle-right" iconPos="right"></p-button>
        </div>
    </ng-template>

</p-card>