.platinum-background {
    background: linear-gradient(
        135deg,
        #e0eafc 0%,
        #cfdef3 100%
    ); /* Light blue gradient */
    color: #2a3e57;
}

.gold-background {
    background: linear-gradient(
        135deg,
        #ffdd00 0%,
        #fbb034 100%
    ); /* Gold gradient */
    color: #2a2a2a;
}

.silver-background {
    background: linear-gradient(
        135deg,
        #c0c0c0 0%,
        #e0e0e0 100%
    ); /* Lighter and more neutral silver gradient */
    color: #333; /* Slightly darker text color for better contrast */
}

.diamond-background {
    background: linear-gradient(
        135deg,
        #b9f2ff 0%,
        #e5e4e2 100%
    ); /* Diamond gradient */
    color: #2a2a2a;
}

.free-plan-background {
    background: linear-gradient(
        135deg,
        #f5f5f5 0%,
        #e0e0e0 100%
    ); /* Subtle gray gradient for Free Plan */
    color: #555; /* Darker text color for better readability */
}

.field {
    display: flex;
    flex-direction: column;
    gap: 8px; /* Space between label, input, and error message */
}

.field label {
    font-weight: 500; /* Optional: Adjust font weight for label */
}

ngx-intl-tel-input.custom {
    width: 100%; /* Ensure input field takes full width available */
}

.p-error {
    margin-top: 5px; /* Add margin to space out error message */
}

:host ::ng-deep .iti--allow-dropdown {
    width: 100%;
}
:host ::ng-deep .iti {
    width: 100%;
}

.avatar {
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

input[type='file'] {
    display: none;
}

/* Scale up the checkbox */
.custom-checkbox .p-checkbox-box {
    width: 25px;
    height: 25px;
    font-size: 200px; /* This scales the checkmark */
}

/* Scale up the checkbox icon */
.custom-checkbox .p-checkbox-box .p-checkbox-icon {
    font-size: 20px; /* Increase the size of the checkmark */
}

// :host ::ng-deep .is-confirmed {
//     background-color: #d4edda !important;
// }

.order-badge.order-pending {
    background: #feedaf;
    color: #8a5340;
}

.coming-soon-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; /* Full viewport height */
    overflow: hidden; /* Ensure content stays within bounds */
}

.coming-soon-image {
    width: 100%;
    object-fit: cover; /* Ensure the image covers the container */
}

.coming-soonTransfer {
    background-color: #f8f9fa; /* Light background color */
    color: #343a40; /* Dark text color */
    border: 2px solid #007bff; /* Border color matching a primary theme */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    margin: 1rem; /* Margin around the element */
    padding: 2rem; /* Padding inside the element */
}

//invoice Card

.invoice-card {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 1400px;
    margin: auto;

    .invoice-field {
        display: flex;
        flex-direction: column;
        margin-bottom: 16px;

        .invoice-label {
            font-weight: 600;
            font-size: 18px;
            margin-bottom: 4px;
        }

        .invoice-value {
            font-size: 16px;
        }
    }
}

//phone
::ng-deep .iti input.iti__tel-input {
    border: none !important;
    width: 100%;
}

::ng-deep .iti input.iti__tel-input:focus-visible {
    border: none !important;
    outline: none !important;
}

::ng-deep .iti input.iti__tel-input {
    width: 100%;
    padding: 7px 10.5px;
    border-radius: 3px;
}

::ng-deep .iti {
    width: 100%;
}

::ng-deep .iti input.iti__tel-input:focus {
    border: none !important;
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);
    border-color: #883cae;
}

::ng-deep #country-search-box:focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem rgba(136, 60, 174, 0.5);
    border-color: #883cae;
}

//final step
.final-step-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;

    .final-step-container {
        max-width: 900px;
        padding: 20px;
        background-color: #f9fafb;
        border-radius: 12px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        .final-step-message-card {
            margin-top: 16px;
            padding: 20px;
            background-color: #e0f7fa;
            border: 1px solid #00acc1;
            border-radius: 8px;
            font-size: 25px;
            line-height: 1.5;
            color: #007c91;
            font-weight: 500;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
        }

        .final-step-message-icon {
            font-size: 70px;
            color: #00acc1;
            margin-bottom: 10px;
            animation: bounce 2s ease-in-out infinite;
        }
    }
}

// Animation keyframes
@keyframes bounce {
    0%,
    100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(100px);
    }
}
