/* You can add global styles to this file, and also import other style files */
$gutter: 1rem; //for primeflex grid system

/* Layout */
@import 'assets/layout/styles/layout/layout.scss';

/* PrimeNG */
@import '../node_modules/primeng/resources/primeng.min.css';
@import '../node_modules/primeflex/primeflex.scss';
@import '../node_modules/primeicons/primeicons.css';

/* Quill Text Editor for p-editor */
@import '../node_modules/quill/dist/quill.core.css';
@import '../node_modules/quill/dist/quill.snow.css';

/* Demos */
@import 'assets/demo/styles/flags/flags.css';
@import 'assets/demo/styles/badges.scss';
@import 'assets/demo/styles/code.scss';

.ui-dialog {
    z-index: 10000 !important;
}

.my-code-editor {
    .editor-container {
        height: calc(100vh - 100px);
    }
}

.iAware-loading-table-container {
    position: relative;
    min-height: 300px;
}

.ltr {
    direction: ltr;
}

.rtl {
    direction: rtl;
}

.p-button, .layout-topbar, .layout-footer{
    background: linear-gradient(90deg, #800080, #4b0082) !important;
    color: white !important;
}

  
//   .ltr-layout .see-more h1, .ltr-layout .see-more h2, .ltr-layout .see-more h3, 
//   .ltr-layout .see-more h4, .ltr-layout .see-more h5, .ltr-layout .see-more h6,
//   .rtl-layout .see-more h1, .rtl-layout .see-more h2, .rtl-layout .see-more h3, 
//   .rtl-layout .see-more h4, .rtl-layout .see-more h5, .rtl-layout .see-more h6 {
//       margin: 0; /* Removes margin when inside .see-more for both LTR and RTL */
//   }