<div class="layout-footer">
    <!-- <img [src]="'assets/layout/images/footer-' + (layoutService.config().colorScheme === 'light' ? 'avalon' : 'avalon-dark') + '.svg'"
        alt="avalon-footer-logo"> -->

    <a class="layout-topbar-logo" routerLink="/">
        <div style="margin: 0; padding: 0; display: block; width: 100px; height: 100%">
            <img [src]="companyLogo" style="width: 100%" />
        </div>
    </a>

    <div class="flex gap-2">
        <!-- <button pButton pRipple type="button" icon="pi pi-github" class="p-button-rounded p-button-text p-button-plain"></button> 
        <button pButton pRipple type="button" icon="pi pi-facebook"
            class="p-button-rounded p-button-text p-button-plain"></button>
        <button pButton pRipple type="button" icon="pi pi-twitter"
            class="p-button-rounded p-button-text p-button-plain"></button>-->
    </div>
</div>
