<div *ngIf="!selectedLanguage">
    <p-table #dt [value]="activeLanguages" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                <h5 class="m-0">Characters Management</h5>
            </div>
        </ng-template>
        <ng-template pTemplate="body" let-lang>
            <tr (click)="selectLanguage(lang)" class="button-row" style="cursor: pointer;">
                <td style="text-align: center; border: none;">

                    <button [style]="{width: '100%'}" class=" learn-more p-button-fullwidth shadow-2">
                        <span style=" display: flex; justify-content: center; align-items: center; width: 100%;
                        font-size: 30px;">
                            <strong>{{ lang.name }}</strong>
                        </span>
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<div *ngIf="selectedLanguage">
    <p-toast></p-toast>
    <h5> {{selectedLanguage.name}} || Characters Library</h5>
    <p-dataView #dv [value]="libraryCharacters" [paginator]="true" [rows]="12" layout="grid">
        <ng-template pTemplate="header">
            <div class="flex flex-wrap justify-content-between">
                <button pButton pRipple icon="pi pi-arrow-left" label="Back to Languages"
                    (click)="backToLanguages()"></button>
                <button *ngIf="hasPermission(actions.add)" pButton pRipple label="Add" icon="pi pi-plus"
                    class="p-button mr-2" (click)="CreateLibraryCharacter()"></button>
            </div>
        </ng-template>

        <ng-template let-cats pTemplate="gridItem">
            <div class="grid grid-nogutter">
                <div class="col-12 md:col-3" *ngFor="let char of cats">
                    <div class="m-3" #img>
                        <div class="mb-3">
                            <div class="flex flex-wrap justify-content-center">
                                <img [src]="char.characterImageUrl" [alt]="char.characterName" class="    my-3 mx-0"
                                    style="width: 200px; height: 200px; cursor: pointer;" />
                                <button *ngIf="menuItems.length > 0" pButton pRipple type="button"
                                    icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain  "
                                    (click)="menu.toggle($event); assigneCurrentSelect(char)"></button>
                                <p-menu #menu [model]="menuItems" [appendTo]="dv" [popup]="true"></p-menu>
                            </div>
                            <div class="text-center">
                                <div style="cursor: pointer;" class="text-md ">{{char.languageName}}</div>
                            </div>
                            <div class="text-center">
                                <div style="cursor: pointer;" class="text-2xl font-bold">{{char.characterName}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
        <ng-template let-cats pTemplate="listItem">
            <div class="grid grid-nogutter">
                <div class="col-12">
                    <p-table #dt [value]="libraryCharacters" [rows]="10" [showCurrentPageReport]="true"
                        responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 25%" class="text-2xl font-bold"> Image</th>
                                <th style="width: 25%" class="text-2xl font-bold"> Name</th>
                                <th style="width: 25%" class="text-2xl font-bold"> Status</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-bg>
                            <tr>
                                <td style="cursor: pointer;">
                                    <p-image [src]="bg.characterImageUrl" width='50' height='50' [preview]="true"
                                        class="my-4 md:my-0 w-9  w-10rem shadow-2 mr-5"></p-image>
                                </td>
                                <td style="cursor: pointer;" class="text-1xl font-bold"> </td>
                                <td> <p-inputSwitch *ngIf="hasPermission(actions.active)" [ngModel]="bg.isActive"
                                        (onChange)="switchActivation(bg)"></p-inputSwitch></td>
                                <td>
                                    <div class="text-right">
                                        <button *ngIf="menuItems.length > 0" pButton pRipple type="button"
                                            icon="pi pi-ellipsis-v"
                                            class="p-button-rounded p-button-text p-button-plain ml-3"
                                            (click)="menu.toggle($event); assigneCurrentSelect(bg)"></button>
                                        <p-menu #menu [model]="menuItems" [appendTo]="dt" [popup]="true"></p-menu>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </ng-template>
    </p-dataView>

</div>


<p-dialog [(visible)]="addLibraryCharacterDialog" [style]="{width: '800px', heigth:'900px'}" header="Add New Character"
    [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="addLibraryCharacterForm" (ngSubmit)="saveAddLibraryCharacter()">
            <div class="field ">
                <label for="languageId" class="font-medium text-900">Language</label>
                <p-dropdown formControlName="languageId" [options]="selectedLanguageAdd" optionLabel="name"
                    placeholder="Select a Language" optionValue="id">
                </p-dropdown>
            </div>
            <div class="field">
                <label for="characterName" class="font-medium text-900">Name</label>
                <input type="text" pInputText id="characterName" formControlName="characterName" required
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !addLibraryCharacterForm.controls['characterName'].valid}" />
                <small *ngIf="submitted && !addLibraryCharacterForm.controls['characterName'].valid"
                    class="ng-dirty ng-invalid text-red-500">Name is required.</small>
            </div>
            <div class="flex justify-content-center flex-wrap">
                <div class="md:col-6 flex flex-column">
                    <div class="flex align-items-center justify-content-center">
                        <img [src]="imageUrl1" alt="Avatar" class="avatar" style="cursor: pointer;"
                            (click)="onUploadCharacterImageClick()">
                    </div>
                    <label class="flex justify-content-center">Character Image</label>
                    <div class="flex align-items-center justify-content-center mt-2" style="display: none;">
                        <p-button label="Upload" icon="pi pi-upload" (click)="onUploadCharacterImageClick()"></p-button>
                        <input type="file" id="myCharacterImage" style="display: none;"
                            (change)="onCharacterImageSelected($event)">
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="declineAddLibraryCharacterDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveAddLibraryCharacter()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="editLibraryCharacterDialog" [style]="{width: '500px', heigth:'900px'}"
    header="Edit Character Image" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="editLibraryCharacterForm" (ngSubmit)="saveEditLibraryCharacter()">
            <div class="field ">
                <label for="languageId" class="font-medium text-900">Language</label>
                <p-dropdown formControlName="languageId" [options]="selectedLanguageAdd" optionLabel="name"
                    placeholder="Select a Language" optionValue="id">
                </p-dropdown>
            </div>
            <div class="field">
                <label for="characterName" class="font-medium text-900">Name</label>
                <input type="text" pInputText id="characterName" formControlName="characterName" required
                    [ngClass]="{'ng-invalid ng-dirty' : submitted && !editLibraryCharacterForm.controls['characterName'].valid}" />
                <small *ngIf="submitted && !editLibraryCharacterForm.controls['characterName'].valid"
                    class="ng-dirty ng-invalid text-red-500">Name is required.</small>
            </div>
            <div class="flex justify-content-center flex-wrap">
                <div class="md:col-6 flex flex-column">
                    <div class="flex align-items-center justify-content-center">
                        <img [src]="imageUrl1" alt="Avatar" class="avatar" style="cursor: pointer;"
                            (click)="onUploadCharacterImageClick()">
                    </div>
                    <label class="flex justify-content-center">Character Image</label>
                    <div class="flex align-items-center justify-content-center mt-2" style="display: none;">
                        <p-button label="Upload" icon="pi pi-upload" (click)="onUploadCharacterImageClick()"></p-button>
                        <input type="file" id="myCharacterImage" style="display: none;"
                            (change)="onCharacterImageSelected($event)">
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"
            (click)="declineEditLibraryCharacter()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="saveEditLibraryCharacter()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deletionLibraryCharacterDialog" header="Delete Character Image" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="libraryCharacter">Are you sure you want to delete the Character?
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="declineDeletion()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
            (click)="confirmDeletion()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="switchActivationLibraryCharacterDialog" header="Activation Training Lesson" [modal]="true"
    [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="libraryCharacter">
            Are you sure you want to <span style=color:red>{{ libraryCharacter.isActive ? 'Deactivate ' :
                'Activate ' }}</span>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
            (click)="declineActivation()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
            (click)="confirmtActivation()"></button>
    </ng-template>
</p-dialog>