<p-tabView class="w-full h-full" styleClass="tabview-custom">
    <p-tabPanel *ngIf="isIAwareTeamUser != null && isIAwareTeamUser"
        [header]="'phishing-category.phishing-category-list.defaultPhishingCategories' | translate">
        <div class="card">
            <p-toast></p-toast>
            <h5>{{ 'phishing-category.phishing-category-list.title' | translate }}</h5>
            <p-dataView #dv [value]="systemPhishingCategories" [paginator]="true" [rows]="9"
                [totalRecords]="defaultTotalRecords" [lazy]="true" [rowsPerPageOptions]="[9, 20, 50]"
                (onLazyLoad)="onLazyLoadDefualtCategories($event)"
                [emptyMessage]="'phishing-email-template.noTemplates' | translate" layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-end gap-2">
                        <button *ngIf="hasPermission(actions.add)" pButton pRipple
                            label="{{ 'phishing-category.phishing-category-list.add' | translate }}" icon="pi pi-plus"
                            class="p-button mr-2" (click)="CreatePhishingCategory()"></button>
                    </div>
                </ng-template>
                <ng-template let-cats pTemplate="gridItem">
                    <div class="iAware-loading-table-container" style="position: relative">
                        <app-table-loading-spinner *ngIf="tableLoadingSpinner"></app-table-loading-spinner>
                        <div class="grid grid-nogutter">
                            <div class="col-12 md:col-4" *ngFor="let cat of cats">
                                <div class="p-3">
                                    <div
                                        class="surface-card shadow-3 border-round overflow-hidden hover:shadow-5 transition-all relative">
                                        <!-- Container for Image and Menu -->
                                        <div class=" object-cover">
                                            <img (click)="navigateToCategoryLanguages(cat.id,'defaultPhishingCategories')"
                                                [src]="cat.categoryImageUrl" [alt]="cat.emailName"
                                                class="w-full border-round-top" />

                                        </div>
                                        <!-- Three Dots Button -->
                                        <button *ngIf="!isIAwareTeamUser" pButton pRipple type="button"
                                            icon="pi pi-ellipsis-v"
                                            class="p-button-rounded p-button-text p-button-plain absolute top-0 right-0 m-2 bg-gray-200 shadow-lg border border-gray-300"
                                            (click)="adminMenu.toggle($event); assigneCurrentSelect(cat)">
                                        </button>

                                        <button *ngIf="isIAwareTeamUser" pButton pRipple type="button"
                                            icon="pi pi-ellipsis-v"
                                            class="p-button-rounded p-button-text p-button-plain absolute top-0 right-0 m-2 bg-gray-200 shadow-lg border border-gray-300"
                                            (click)="iAwareMenu.toggle($event); assigneCurrentSelect(cat)">
                                        </button>

                                        <!-- Menus -->
                                        <p-menu #adminMenu [model]="normalMenuItems" [appendTo]="'body'"
                                            [popup]="true"></p-menu>
                                        <p-menu #iAwareMenu [model]="ownerMenuItems" [appendTo]="'body'"
                                            [popup]="true"></p-menu>

                                        <!-- Category Name -->
                                        <div class="text-center p-3">
                                            <div (click)="navigateToCategoryLanguages(cat.id,'defaultPhishingCategories')"
                                                style="cursor: pointer" class="text-2xl font-bold">
                                                {{ cat.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </p-tabPanel>

    <p-tabPanel *ngIf="isIAwareTeamUser != null && !isIAwareTeamUser"
        [header]="'phishing-category.phishing-category-list.defaultPhishingCategories' | translate">
        <div class="card">
            <p-toast></p-toast>
            <h5>{{ 'phishing-category.phishing-category-list.title' | translate }}</h5>
            <p-dataView #dv [value]="systemPhishingCategories" [paginator]="true" [rows]="9"
                [totalRecords]="defaultTotalRecords" [lazy]="true" [rowsPerPageOptions]="[9, 20, 50]"
                (onLazyLoad)="onLazyLoadDefualtCategories($event)"
                [emptyMessage]="'phishing-email-template.noTemplates' | translate" layout="grid">
                <ng-template let-cats pTemplate="gridItem">
                    <div class="iAware-loading-table-container" style="position: relative">
                        <app-table-loading-spinner *ngIf="tableLoadingSpinner"></app-table-loading-spinner>
                        <div class="grid grid-nogutter">
                            <div class="col-12 md:col-4" *ngFor="let cat of cats">
                                <div class="p-3">
                                    <div
                                        class="surface-card shadow-3 border-round overflow-hidden hover:shadow-5 transition-all">
                                        <!-- Container for Image and Menu -->
                                        <div class="relative object-cover">
                                            <img (click)="navigateToCategoryLanguages(cat.id,'defaultPhishingCategories')"
                                                [src]="cat.categoryImageUrl" [alt]="cat.emailName"
                                                class="w-full border-round-top" />
                                        </div>

                                        <!-- Category Name -->
                                        <div class="text-center p-3">
                                            <div (click)="navigateToCategoryLanguages(cat.id,'defaultPhishingCategories')"
                                                style="cursor: pointer" class="text-2xl font-bold">
                                                {{ cat.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </p-tabPanel>

    <p-tabPanel *ngIf="isIAwareTeamUser != null && !isIAwareTeamUser"
        [header]="'phishing-category.phishing-category-list.companyPhishingCategories' | translate">
        <div class="card">
            <p-toast></p-toast>
            <h5>{{ 'phishing-category.phishing-category-list.title' | translate }}</h5>
            <p-dataView #dv [value]="tenantPhishingCategories" [paginator]="true" [rows]="9"
                [totalRecords]="tenantTotalRecords" [lazy]="true" [rowsPerPageOptions]="[9, 20, 50]"
                (onLazyLoad)="onLazyLoadTenantCategories($event)"
                [emptyMessage]="'phishing-email-template.noTemplates' | translate" layout="grid">
                <ng-template pTemplate="header">
                    <div class="flex flex-column md:flex-row md:justify-content-end gap-2">
                        <button *ngIf="hasPermission(actions.add)" pButton pRipple
                            label="{{ 'phishing-category.phishing-category-list.add' | translate }}" icon="pi pi-plus"
                            class="p-button mr-2" (click)="CreatePhishingCategory()"></button>
                    </div>
                </ng-template>                
                <ng-template let-cats pTemplate="gridItem">
                    <div class="iAware-loading-table-container" style="position: relative">
                        <app-table-loading-spinner *ngIf="tableLoadingSpinner"></app-table-loading-spinner>
                        <div class="grid grid-nogutter">
                            <div class="col-12 md:col-4" *ngFor="let cat of cats">

                                <div class="p-3">
                                    <div
                                        class="surface-card shadow-3 border-round overflow-hidden hover:shadow-5 transition-all relative">
                                        <!-- Container for Image and Menu -->
                                        <div class="object-cover">
                                            <img (click)="navigateToCategoryLanguages(cat.id,'companyPhishingCategories')"
                                                [src]="cat.categoryImageUrl" [alt]="cat.emailName"
                                                class="w-full border-round-top" />

                                        </div>
                                        <!-- Three Dots Button -->
                                        <button *ngIf="!isIAwareTeamUser" pButton pRipple type="button"
                                            icon="pi pi-ellipsis-v"
                                            class="p-button-rounded p-button-text p-button-plain absolute top-0 right-0 m-2 bg-gray-200 shadow-lg border border-gray-300"
                                            (click)="adminMenu.toggle($event); assigneCurrentSelect(cat)">
                                        </button>

                                        <button *ngIf="isIAwareTeamUser" pButton pRipple type="button"
                                            icon="pi pi-ellipsis-v"
                                            class="p-button-rounded p-button-text p-button-plain absolute top-0 right-0 m-2 bg-gray-200 shadow-lg border border-gray-300"
                                            (click)="iAwareMenu.toggle($event); assigneCurrentSelect(cat)">
                                        </button>

                                        <!-- Menus -->
                                        <p-menu #adminMenu [model]="normalMenuItems" [appendTo]="'body'"
                                            [popup]="true"></p-menu>
                                        <p-menu #iAwareMenu [model]="ownerMenuItems" [appendTo]="'body'"
                                            [popup]="true"></p-menu>

                                        <!-- Category Name -->
                                        <div class="text-center p-3">
                                            <div (click)="navigateToCategoryLanguages(cat.id, 'companyPhishingCategories')"
                                                style="cursor: pointer" class="text-2xl font-bold">
                                                {{ cat.name }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </p-dataView>
        </div>
    </p-tabPanel>

    <div *ngIf="isIAwareTeamUser === null" class="col-12 flex flex-column justify-content-center align-items-center"
        style="height: 100vh;">
        <p-progressSpinner></p-progressSpinner>
        <br>
        <p class="ml-3">{{ 'shared.loading' | translate }}</p>
    </div>
</p-tabView>

<p-dialog [(visible)]="addPhishingCategoryDialog" [style]="{ width: '60%', height: '85%' }"
    header="{{ 'phishing-category.phishing-category-list.addHeader' | translate }}" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="addPhishingCategoryForm" (ngSubmit)="saveAddPhishingCategory()">
            <div class="grid">
                <div class="col-12">
                    <div class="grid formgrid p-fluid">

                        <div class="field col-12 md:col-6">
                            <label for="name" class="font-medium text-900">{{
                                'phishing-category.phishing-category-list.name' | translate
                                }}</label>
                            <input type="text" pInputText id="name" formControlName="name"
                                placeholder="{{'phishing-category.phishing-category-list.nameField' | translate}}"
                                required [ngClass]="{
                                    'ng-invalid ng-dirty': submitted && !addPhishingCategoryForm.controls['name'].valid
                                }" />
                            <small *ngIf="submitted && !addPhishingCategoryForm.controls['name'].valid"
                                class="ng-dirty ng-invalid text-red-500">{{
                                'phishing-category.phishing-category-list.validations.name' | translate }}</small>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="languageId" class="font-medium text-900">{{
                                'phishing-category.phishing-category-list.language' | translate
                                }}</label>
                            <p-dropdown formControlName="languageId" [options]="defaultLanguage" optionLabel="name"
                                placeholder="{{ 'phishing-category.phishing-category-list.languagePlaceholder' | translate }}"
                                optionValue="id">
                            </p-dropdown>
                        </div>

                        <div class="field col-12">
                            <label class="font-medium text-900" for="categoryDescription">{{
                                'phishing-category.phishing-category-list.descriptionField' | translate
                                }}</label>
                            <textarea id="categoryDescription" name="categoryDescription"
                                formControlName="categoryDescription"
                                placeholder="{{'phishing-category.phishing-category-list.descriptionField' | translate}}"
                                pInputTextarea required [ngClass]="{
                                    'ng-invalid ng-dirty':
                                        submitted && !addPhishingCategoryForm.controls['categoryDescription'].valid
                                }" rows="3" cols="50"></textarea>
                            <small *ngIf="submitted && !addPhishingCategoryForm.controls['categoryDescription'].valid"
                                class="ng-dirty ng-invalid text-red-500">{{
                                'phishing-category.phishing-category-list.validations.description' | translate
                                }}</small>
                        </div>

                        <div class="field col-12">
                            <label class="font-medium text-900" for="categoryPageContentHtml">{{
                                'phishing-category.phishing-category-list.pageContent' | translate
                                }}</label>
                            <app-iAware-rich-text [id]="'categoryPageContentHtml'"
                                placeholder="{{'phishing-category.phishing-category-list.categoryPageContentHtmlPlaceholder' | translate}}"
                                formControlName="categoryPageContentHtml"></app-iAware-rich-text>
                            <small
                                *ngIf="submitted && !addPhishingCategoryForm.controls['categoryPageContentHtml'].valid"
                                class="ng-dirty ng-invalid text-red-500">{{
                                'phishing-category.phishing-category-list.validations.pageContent' | translate
                                }}</small>
                        </div>

                        <div class="col-12 md:col-6 mt-2">
                            <p-panel header="{{'phishing-category.phishing-category-list.bannerField' | translate}}"
                                class="mb-3">
                                <div class="flex align-items-center justify-content-center">
                                    <img [src]="imageUrl2" alt="Avatar" class="avatar"
                                        style="width: 100%; max-width: 150px; border-radius: 8px; border: 1px solid #ccc;"
                                        (click)="onUploadCategoryBannerClick()" />
                                </div>

                                <!-- Recommended Dimensions -->
                                <small class="text-center block m-2">{{ 'shared.messages.recommendedDimensions' |
                                    translate}} <strong>{{ 'shared.messages.1200x300' | translate}}</strong> {{
                                    'shared.messages.pixels' | translate}}</small>

                                <div class="flex align-items-center justify-content-center mt-2" style="display: none">
                                    <p-button label="{{ 'shared.actions.upload' | translate }}" icon="pi pi-upload"
                                        (click)="onUploadCategoryBannerClick()"></p-button>
                                    <input type="file" id="myCategoryBanner" style="display: none"
                                        (change)="onCategoryBannerSelected($event)" />
                                </div>
                            </p-panel>
                        </div>

                        <div class="col-12 md:col-6 mt-2">
                            <p-panel header="{{'phishing-category.phishing-category-list.imageField' | translate}}"
                                class="mb-3">

                                <div class="flex align-items-center justify-content-center">
                                    <img [src]="imageUrl1" alt="Avatar" class="avatar"
                                        style="width: 100%; max-width: 150px; border-radius: 8px; border: 1px solid #ccc"
                                        (click)="onUploadCategoryImageClick()" />
                                </div>

                                <!-- Recommended Dimensions -->
                                <small class="text-center block m-2">{{ 'shared.messages.recommendedDimensions' |
                                    translate}} <strong>{{ 'shared.messages.800x449' | translate}}</strong> {{
                                    'shared.messages.pixels' | translate}}</small>

                                <div class="flex align-items-center justify-content-center mt-2" style="display: none">
                                    <p-button label="{{ 'shared.actions.upload' | translate }}" icon="pi pi-upload"
                                        (click)="onUploadCategoryImageClick()"></p-button>
                                    <input type="file" id="myCategoryImage" style="display: none"
                                        (change)="onCategoryImageSelected($event)" />
                                </div>
                            </p-panel>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'shared.actions.cancel' | translate }}" icon="pi pi-times"
            class="p-button-text" (click)="declineAddPhishingCategoryDialog()"></button>
        <button pButton pRipple label="{{ 'shared.actions.save' | translate }}" icon="pi pi-check" class="p-button-text"
            (click)="saveAddPhishingCategory()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="editPhishingCategoryDialog" [style]="{ width: '50%', height: '85%' }"
    header="{{ 'phishing-category.phishing-category-list.editHeader' | translate }}" [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form [formGroup]="editPhishingCategoryForm" (ngSubmit)="saveEditPhishingCategory()">
            <div class="field">
                <label for="name" class="font-medium text-900">{{
                    'phishing-category.phishing-category-list.name' | translate
                    }}</label>
                <input type="text" pInputText id="name" formControlName="name" required [ngClass]="{
                        'ng-invalid ng-dirty': submitted && !addPhishingCategoryForm.controls['name'].valid
                    }" />
                <small *ngIf="submitted && !addPhishingCategoryForm.controls['name'].valid"
                    class="ng-dirty ng-invalid text-red-500">{{
                    'phishing-category.phishing-category-list.validations.name' | translate }}</small>
            </div>
            <div class="flex justify-content-center flex-wrap">
                <div class="col-12">
                    <p-panel header="{{'phishing-category.phishing-category-list.image' | translate}}" class="mb-3">

                        <div class="flex align-items-center justify-content-center">
                            <img [src]="imageUrl1" alt="Avatar" class="avatar"
                                style="width: 100%; max-width: 150px; border-radius: 8px; border: 1px solid #ccc"
                                (click)="onUploadCategoryImageClick()" />
                        </div>

                        <!-- Recommended Dimensions -->
                        <small class="text-center block m-2">{{ 'shared.messages.recommendedDimensions' | translate}}
                            <strong>{{ 'shared.messages.800x449' | translate}}</strong> {{ 'shared.messages.pixels' |
                            translate}}</small>

                        <div class="flex align-items-center justify-content-center mt-2" style="display: none">
                            <p-button label="{{ 'shared.actions.upload' | translate }}" icon="pi pi-upload"
                                (click)="onUploadCategoryImageClick()"></p-button>
                            <input type="file" id="myCategoryImage" style="display: none"
                                (change)="onCategoryImageSelected($event)" />
                        </div>
                    </p-panel>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="{{ 'shared.actions.cancel' | translate }}" icon="pi pi-times"
            class="p-button-text" (click)="declineEditPhishingCategory()"></button>
        <button pButton pRipple label="{{ 'shared.actions.save' | translate }}" icon="pi pi-check" class="p-button-text"
            (click)="saveEditPhishingCategory()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="switchActivationPhishingCategoryDialog" header="{{ 'shared.headers.active' | translate }}"
    [modal]="true" [style]="{ width: '500px' }">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        @if (phishingCategory && phishingCategory.isActive) {
        <span>{{ 'shared.messages.deactive' | translate }} <b>{{ phishingCategory.name }}</b></span>
        }@else {
        <span>{{ 'shared.messages.active' | translate }} <b>{{ phishingCategory.name }}</b></span>
        }
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text"
            label="{{ 'shared.actions.cancel' | translate }}" (click)="declineActivation()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{ 'shared.actions.save' | translate }}"
            (click)="confirmtActivation()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="deletionPhishingCategoryDialog" header="{{ 'shared.headers.delete' | translate }}" [modal]="true"
    [style]="{ width: '500px' }">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="phishingCategory">{{ 'shared.messages.delete' | translate }}
            <b class="flex flex-wrap justify-content-center">{{ phishingCategory.name }}</b>
        </span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text"
            label="{{ 'shared.actions.cancel' | translate }}" (click)="declineDeletion()"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="{{ 'shared.actions.save' | translate }}"
            (click)="confirmDeletion()"></button>
    </ng-template>
</p-dialog>